<h3 *ngIf="demandeSubvention?.codeDepartement && demandeSubvention?.nomLongCollectivite">{{demandeSubvention.codeDepartement}} - {{demandeSubvention.nomLongCollectivite}}</h3>
<form>
  <p-button icon="pi pi-chevron-left" class="mb-2" styleClass="ui-button-secondary" label="Dossier" title="Retour au dossier" (onClick)="retour()"
  *ngIf="hasIdDossier()">
  </p-button>

  <div class="p-grid">
    <p-panel styleClass="bg-dark" header="Dotation" [toggleable]="true" [style]="{'margin-bottom':'20px'}"
      [formGroup]="demandeSubventionForm">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
          <label class="ui-g-4">
            Sous-programme
          </label>
          <div class="ui-g-8 ui-md-8" *ngIf="showSousProgrammeDropDown()">
            <p-dropdown
                [disabled]="!deSoumettreUnProjet()"
                [options]="sousProgrammes"
                formControlName="sousProgramme"
                [filter]="true"
                placeholder="Choisissez un sous programme"
                optionLabel="description"
                [showClear]="true"
                [style]="{'width':'100%'}"
                (onChange)="majDotationDisponible()">
            </p-dropdown>
          </div>
          <div class="ui-g-8 ui-md-8" *ngIf="!showSousProgrammeDropDown()">
            {{demandeSubventionForm.get('sousProgramme').value}}
          </div>
        </div>
        <div class="ui-g-12 ui-md-12" *ngIf='form.dotationDisponible.visible'>
          <label class="ui-g-4">
            Dotation disponible
          </label>
          <div class="ui-g-8 ui-md-8">
            {{demandeSubventionForm.get('dotationDisponible').value | montantEuros}}
          </div>
        </div>
      </div>
    </p-panel>
    <div [style]="{'margin-bottom':'20px'}">
      <p-tabView  *ngIf="afficherOngletDemandeSubvention()" >
        <p-tabPanel header="Demande de subvention" [formGroup]="demandeSubventionForm">
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-12">
              <label class="ui-g-4 ui-md-4">Date du jour</label>
              <div class="ui-g-8 ui-md-8">
                {{demandeSubventionForm.get('dateJour').value}}
              </div>
            </div>
            <div class="ui-g-12 ui-md-12" *ngIf='form.montantHTTravauxEligibles.visible'>
              <label class="ui-g-4 ui-md-4 label-required">Montant HT des travaux éligibles</label>
              <div class="ui-g-8 ui-md-8">
                <input styleClass="ng-invalid" id="montant" type="number" [value]="demandeSubventionForm.get('montantHTTravauxEligibles').value"
                formControlName="montantHTTravauxEligibles"  class="form-control" [readonly]='!form.montantHTTravauxEligibles.editable'>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12" *ngIf='form.tauxAideFacePercent.visible'>
              <label class="ui-g-4 ui-md-4 label-required">Taux de l'aide du FACE en %</label>
              <div class="ui-g-8 ui-md-8" *ngIf="!estEtatDemandeOuQualifie() || !estMfer()">
                <input styleClass="ng-invalid" class="form-control" type="number" step="any" [value]="demandeSubventionForm.get('tauxAideFacePercent').value"
                formControlName="tauxAideFacePercent" [readonly]='!form.tauxAideFacePercent.editable'>
              </div>
              <div class="ui-g-1 ui-md-1" *ngIf="estEtatDemandeOuQualifie() && estMfer()">
                <input styleClass="ng-invalid" class="form-control" type="number" step="any" [value]="demandeSubventionForm.get('tauxAideFacePercent').value"
                formControlName="tauxAideFacePercent" [readonly]='!form.tauxAideFacePercent.editable'>
              </div>
              <div class="ui-g-4 ui-md-4" *ngIf="estEtatDemandeOuQualifie() && estMfer()">
                <p-button  type="button" label="Modifier le taux demandé" styleClass=" ui-button-primary" (click)="modifierTaux()" class="mr-2"></p-button>
              </div>
            </div>
            <p-message severity="error" text="Votre demande de subvention a été refusée pour le motif suivant : {{demandeSubvention.motifRefus}}"
              *ngIf="estEtatRefuseOuRejetTaux()">
            </p-message>
            <div class="ui-g-12 ui-md-12" *ngIf='form.plafondAideDemandee.visible'>
              <label class="ui-g-4 ui-md-4">Plafond d'aide demandée
                <i class="fas fa-info-circle" [escape]="false" tooltipPosition="right"
                  pTooltip="Plafond d'aide demandée = Montant HT des travaux éligible x Taux de l'aide">
                </i>
              </label>
              <div class="ui-g-8 ui-md-8">
                {{ getPlafondDemande() | montantEuros }}
              </div>
            </div>

            <div class="ui-g-12 ui-md-12" formGroupName="cadencementDto">
              <label class="ui-g-4 ui-md-4">Cadencement</label>
              <div class="ui-g-8 ui-md-8">
                <div class="ui-g-3 ui-md-3">
                    <label class="label-required" style="display: block;">{{yearLabel}}</label>
                    <input styleClass="ng-invalid" id="montantAnnee1" type="number" [value]="demandeSubventionForm.get('cadencementDto.montantAnnee1').value"
                      formControlName="montantAnnee1"  class="form-control" [readonly]='!form.montantAnnee1.editable'>
                </div>
                <div class="ui-g-3 ui-md-3">
                  <label class="label-required" style="display: block;">{{yearLabel + 1}}</label>
                    <input styleClass="ng-invalid"  id="montantAnnee2" type="number" [value]="demandeSubventionForm.get('cadencementDto.montantAnnee2').value"
                    formControlName="montantAnnee2"  class="form-control" [readonly]='!form.montantAnnee2.editable'>
                </div>
                <div class="ui-g-3 ui-md-3">
                  <label class="label-required" style="display: block;" >{{yearLabel + 2}}</label>
                  <input styleClass="ng-invalid" id="montantAnnee3" type="number" [value]="demandeSubventionForm.get('cadencementDto.montantAnnee3').value"
                    formControlName="montantAnnee3"  class="form-control" [readonly]='!form.montantAnnee3.editable'>
                </div>
                <div class="ui-g-3 ui-md-3">
                    <label class="label-required" style="display: block;">{{yearLabel + 3}}</label>
                    <input styleClass="ng-invalid" id="montantAnnee4" type="number" [value]="demandeSubventionForm.get('cadencementDto.montantAnnee4').value"
                       formControlName="montantAnnee4"  class="form-control" [readonly]='!form.montantAnnee4.editable'>
                </div>
                <div class="ui-g-3 ui-md-3" *ngIf="form.montantAnneeProl.visible">
                  <label class="label-required" style="display: block;">{{yearLabel + 4}}</label>
                  <input styleClass="ng-invalid" id="montantAnneeProl" type="number" [value]="demandeSubventionForm.get('cadencementDto.montantAnneeProl').value"
                     formControlName="montantAnneeProl"  class="form-control" [readonly]='!form.montantAnneeProl.editable'>
              </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12"
              *ngIf='form.etatPrevisionnel.visible'>
              <label class="ui-g-4 ui-md-4 label-required">État prévisionnel
                <i class="fas fa-info-circle" [escape]="false" tooltipPosition="right" pTooltip="Décret n°2013-46 du 14 janvier 2013 - Extrait de l'Article 7: <br/>
                      L'état prévisionnel comporte :<br/>
                      - la désignation précise et les caractéristiques des projets ;<br/>
                      - leur localisation ;<br/>
                      - le montant maximum prévisionnel de la dépense donnant lieu à subvention et de l'aide demandée ;<br/>
                      - les autres financement des projets ; <br/>
                      - le calendrier des travaux, précisant la date prévisionnelle de leur commencement.">
                </i>
              </label>
              <!-- champ pas visiblre car ngif sur editable et ds gestion-affichages-champs.service etaprevisionnel est à visible -->
              <div class="ui-g-4 ui-md-4">
                <app-custom-file-transfer label="Téléverser au format pdf"
                [titleDl]="mapDocumentsName[0]"
                accept=".pdf"
                (uploadCallback)="ajoutFichierUploader('ETAT_PREVISIONNEL_PDF', $event)"
                [affichageUpload]="form.etatPrevisionnel.editable"
                [affichageDownload]="isDemandeExistante() && form.etatPrevisionnel.visible"
                (downloadCallback)="telechargerDocumentSubvention('ETAT_PREVISIONNEL_PDF')"
                libelle = " Visualiser format PDF" >
                </app-custom-file-transfer>

              </div>
              <div class="ui-g-4 ui-md-4">
                <app-custom-file-transfer label="Téléverser au format xls"
                [titleDl]="mapDocumentsName[1]"
                accept=".ods,.xls,.xlsx"
                (uploadCallback)="ajoutFichierUploader('ETAT_PREVISIONNEL_TABLEUR', $event)"
                [affichageUpload]="form.etatPrevisionnel.editable"
                [affichageDownload]="isDemandeExistante() && form.etatPrevisionnel.visible"
                (downloadCallback)="telechargerDocumentSubvention('ETAT_PREVISIONNEL_TABLEUR')"
                libelle = " Visualiser format tableur" >
                </app-custom-file-transfer>

              </div>
            </div>
            <div class="ui-g-12 ui-md-12" *ngIf="form.ficheSiretOngletDemandeSubvention.visible && !afficherOngletInstruction()">
              <label class="ui-g-4 ui-md-4">Fiche SIRET</label>
              <div class="ui-g-8 ui-md-8">
                <app-custom-file-transfer  label="Téléverser au format pdf"
                [titleDl]="mapDocumentsName[3]" accept=".pdf"
                (uploadCallback)="ajoutFichierUploader('FICHE_SIRET', $event)"
                [affichageUpload]="form.ficheSiretOngletDemandeSubvention.editable"
                [affichageDownload]="isDemandeExistante() && form.ficheSiretOngletDemandeSubvention.visible"
                (downloadCallback)="telechargerDocumentSubvention('FICHE_SIRET')"
                libelle = " Visualiser format PDF" >
               </app-custom-file-transfer>

            </div>
            </div>
            <div class="ui-g-12 ui-md-12" *ngIf='form.documentComplementaire.visible'>
              <label class="ui-g-4 ui-md-4">Documents complémentaires</label>
              <div class="ui-g-8 ui-md-8">
                <p-table [value]="documentsSupplementaires">
                  <!-- header -->
                  <ng-template pTemplate="header">
                      <tr>
                          <th>Document</th>
                          <th class="col-action">Actions
                            <a class="btn btn-xs float-right">
                                <app-custom-file-transfer
                                [mode]="'button'"
                                (uploadCallback)="ajoutDocComplementaire($event)"
                                *ngIf="form.documentComplementaire.editable && documentsSupplementaires.length < 5"></app-custom-file-transfer>
                            </a>
                          </th>
                      </tr>
                  </ng-template>
                  <!-- body -->
                  <ng-template pTemplate="body" let-document let-index="rowIndex">
                      <tr>
                          <td>{{document.nomFichierSansExtension}}</td>
                          <td>
                            <button pButton type="button" icon="pi pi-download" class="ui-button-primary mr-2" (click)="telechargerDocumentComplementaire(index)"
                              *ngIf="document.id" title="{{document.nomFichierSansExtension + '.' + document.extensionFichier}}"></button>
                            <button pButton type="button" icon="pi pi-trash" class="ui-button-danger" (click)="supprimerDocComplementaire(index)"
                              *ngIf='form.documentComplementaire.editable'></button>
                              <div class="ml-2" style="display: inline;">
                                <button pButton icon="pi pi-external-link" (click)="showModal(index)" *ngIf="showButton"></button>
                              </div>
                            </td>
                      </tr>
                  </ng-template>

                  <!-- message : aucun résultat -->
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td [attr.colspan]="2">
                        Aucune donnée disponible dans le tableau
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <br/>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12" *ngIf='form.message.visible'>
              <label class="ui-g-4 ui-md-4">Message</label>
              <div class="ui-g-8 ui-md-8">
                <textarea rows="5" cols="30" pInputTextarea formControlName="message"
                  [readonly]="!form.message.editable"></textarea>
              </div>
            </div>
            <div class="ui-g-12 ui-md-offset-9 ui-md-3">
              <p-button icon="fas fa-chevron-left" styleClass="ui-button-secondary" label="Annuler" title="Annuler"
              *ngIf="form.btnAnnuler.editable" (click)="annuler()"></p-button>
              <p-button icon="fas fa-chevron-right" styleClass="ui-button-primary ml-2" label="Demander" title="Demander subvention"
                *ngIf="form.btnDemander.editable" (click)="demander()" [disabled]="desactiverBoutonDemande"></p-button>
              <p-button icon="fas fa-save" iconPos="left" styleClass="ui-button-primary" class="float-right"
                (click)="enregistrer()" label="Enregistrer" title="Enregistrer" *ngIf="form.btnEnregistrer.editable"></p-button>
            </div>
            <div style="width: 100%; text-align: center" *ngIf="desactiverBoutonDemande">
              <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
            </div>
          </div>
        </p-tabPanel>

        <!-- ONGLET INSTRUCTION-->
        <p-tabPanel header="Instruction" [formGroup]="demandeSubventionForm" *ngIf="afficherOngletInstruction()">
          <div class="d-flex justify-content-end">
            <a class="btn btn-primary ml-2"
              style="padding: 0.4rem 0.8rem 0.4em 0.8rem; background-color: #007ad9; font-size: 0.9rem; color: #fff"
              (click)="genererDemandeSubventionPdf()" role="button" *ngIf="form.btnGenererDecisionAttributive.editable"
              title="Générer la décision attributive au format pdf">
              <i class="fas fa-file-download"></i> Générer la décision de subvention
            </a>
          </div>

          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-12">
              <label class="ui-g-4 ui-md-4">État</label>
              <div class="ui-g-8 ui-md-8">
                {{ demandeSubvention.etatLibelle }}
              </div>
            </div>
            <div class="ui-g-12 ui-md-12" *ngIf="form.demandeComplementaire.visible && !demandeSubvention.demandeComplementaire && existeAutreDossier()">
              <label class="ui-g-4 ui-md-4">Dossier existant</label>
              <div class="ui-g-2 ui-md-2">
                <p-checkbox formControlName="demandeComplementaire" binary="true" [disabled]="!form.demandeComplementaire.editable" (onChange)="modificationStatusDossier($event)">
                </p-checkbox>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12" *ngIf="form.numDossier.visible">
              <label class="ui-g-4 ui-md-4">N° de dossier</label>
              <div class="ui-g-8 ui-md-8" *ngIf="demandeSubventionForm.controls['numDossier'].enabled">
                <input class="form-control" type="text" formControlName="numDossier"
                  [readonly]="!form.numDossier.editable || demandeSubvention.demandeComplementaire">
              </div>
              <div class="ui-g-8 ui-md-8" *ngIf="!demandeSubventionForm.controls['numDossier'].enabled">
                <p-dropdown [options]="listeDossier" placeholder="Sélectionnez un dossier"
                optionLabel="numDossier" (onChange)="onChangeDropdown($event)">
                </p-dropdown>
              </div>
            </div>
            <p-dialog header="Motif refus" [(visible)]="displayRefus" [modal]="true" [style]="{width: '50vw', height: '50vw'}">
              <div class="ui-g-12 ui-md-12">
                  <textarea rows="2" class="form-control" formControlName="motifRefus"></textarea>

                </div>
                <p-footer>
                  <p-button icon="fas fa-chevron-right" iconPos="right" styleClass="ui-button-primary ml-2"
                   label="Enregistrer" title="Enregistrer" (onClick)="refuser()"></p-button>
                  <p-button icon="fas fa-times" iconPos="right" styleClass="ui-button-primary ml-2"
                  label="Annuler" title="Annuler" (onClick)="displayRefus=false;"></p-button>
                </p-footer>

            </p-dialog>
            <div class="ui-g-12 ui-md-12" *ngIf="form.ficheSiret.visible">
              <label class="ui-g-4 ui-md-4">Fiche SIRET</label>
              <div class="ui-g-8 ui-md-8">
                <app-custom-file-transfer  label="Téléverser au format pdf"
                [titleDl]="mapDocumentsName[3]" accept=".pdf"
                (uploadCallback)="ajoutFichierUploader('FICHE_SIRET', $event)"
                [affichageUpload]="form.ficheSiret.editable"
                [affichageDownload]="isDemandeExistante() && form.ficheSiret.visible"
                (downloadCallback)="telechargerDocumentSubvention('FICHE_SIRET')"
                libelle = " Visualiser format PDF" >
              </app-custom-file-transfer>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12" *ngIf="form.decisionAttributiveSignee.visible">
              <label class="ui-g-4 ui-md-4">Décision attributive signée</label>
              <div class="ui-g-8 ui-md-8">
                <app-custom-file-transfer  label="Téléverser au format pdf"
                  [titleDl]="mapDocumentsName[4]" accept=".pdf"
                  (uploadCallback)="ajoutFichierUploader('DECISION_ATTRIBUTIVE_SUBV', $event)"
                  [affichageUpload]="form.decisionAttributiveSignee.editable"
                  [affichageDownload]="isDemandeExistante() && form.decisionAttributiveSignee.visible"
                  (downloadCallback)="telechargerDocumentSubvention('DECISION_ATTRIBUTIVE_SUBV')"
                  libelle = " Visualiser format PDF" >
                </app-custom-file-transfer>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 ">
              <p-button icon="fas fa-chevron-right" iconPos="right" styleClass="ui-button-primary" class="float-right"
                (onClick)="qualifier()" label="Qualifier" title="Qualifier" *ngIf="form.btnQualifier.editable" [disabled]="estEtatAnomalieDetectee()"></p-button>
              <p-button icon="fas fa-chevron-right" iconPos="right" styleClass="ui-button-primary" class="float-right"
                (click)="accorder()" label="Accorder" title="Accorder" *ngIf="form.btnAccorder.editable"></p-button>
              <p-button icon="fas fa-chevron-right" iconPos="right" styleClass="ui-button-primary" class="float-right"
                (click)="controler()" label="Contrôler" title="Contrôler" *ngIf="form.btnControler.editable"></p-button>
              <p-button icon="fas fa-chevron-right" iconPos="right" styleClass="ui-button-primary" class="float-right"
                (click)="transferer()" label="Transferer" title="Transferer" *ngIf="form.btnTransferer.editable"></p-button>
              <p-button icon="fas fa-chevron-right" iconPos="right" styleClass="ui-button-primary" class="float-right"
                (click)="attribuer()" label="Attribuer" title="Attribuer" *ngIf="form.btnAttribuer.editable"></p-button>
              <p-button icon="fas fa-times" styleClass="ui-button-danger" class="mr-1 float-right" (click)="showMotifRefusModal()"
                label="Refuser" title="Refuser" *ngIf="form.btnRefuser.editable"></p-button>

            </div>
          </div>
        </p-tabPanel>
      </p-tabView>

      <!-- Panneau Anomalie -->
      <p-messages key="anomalies"></p-messages>
      <div #messageAnomalieDemandePaiement>
        <p-panel header="Anomalie" *ngIf="afficherOngletAnomalie()">
              <app-liste-anomalies
                [idDemandeSubvention]='idDemande'
                [btnAjouterAnomalie]='form.btnAjouterAnomalie'
                [reponseAnomalie]='form.reponseAnomalie'
                [btnCorrectionAnomalie]='form.btnCorrectionAnomalie'
                (updateCallback)="reload(idDemande)"></app-liste-anomalies>
                <div class="d-flex justify-content-end">
                <p-button icon="fas fa-exclamation-triangle" styleClass="ui-button-warning" class="mr-1 mt-2 float-right"
                  (click)="signalerAnomalie()" label="Signaler en anomalie" title="Signaler en anomalie" *ngIf="form.btnSignalerAnomalie.editable">
                </p-button>
                </div>
        </p-panel>
      </div>
    </div>
  </div>
</form>

<p-dialog header="Attention," [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [contentStyle]="{'overflow':'visible'}"  [style]="{width: '600px'}">
  <form [formGroup]="angForm" novalidate>
  <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <p>Si vous modifiez le taux de l'aide du FACE, la demande de subvention sera directement refusée.</p>
          <div class="ui-g-5">
              <label for="tauxDemandeModif">Indiquez le nouveau taux :</label>
          </div>
          <div class="ui-g-7">
            <input type="text" required styleClass="ng-invalid" pInputText id="tauxDemandeModif" formControlName="tauxDemandeModif" #montant />
        </div>
      </div>
    </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix ui-g-6">
      <button pButton type="button" icon="pi pi-times"
              label="Annuler" (click)="fermerModal()"></button>
    </div>
      <div class="ui-dialog-buttonpane ui-helper-clearfix ui-g-6">
        <button pButton type="button" icon="fas fa-check"
                label="Modifier le taux" (click)="save()"></button>
      </div>
  </p-footer>
  </form>
</p-dialog>
<p-dialog header="" [(visible)]="displayModal" [modal]="true"  [baseZIndex]="10000"
                      [draggable]="false" [resizable]="false" [style]="{width: '80vw', height: '80vw'}" >

                        <iframe [src]="localUrl | safe: 'resourceUrl'" width="100%" height="600" *ngIf="isPdfContent"></iframe>
                        <table id="TheTable" class="ExcelTable2007" *ngIf="isExcelContent">
                          <thead #header>
                            <tr>
                              <th *ngFor="let headValue of headData">
                                {{headValue}}
                              </th>
                            </tr>
                          </thead>
                          <tbody #container>
                            <tr *ngFor="let row of data">
                              <td *ngFor="let val of headData; let i =index">
                                {{row[i] || ' '}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      <p-footer>

                      </p-footer>
</p-dialog>
