<form [formGroup]="collectiviteForm">
  <p-tabView>
    <p-tabPanel header="Informations" [selected]="true" [disabled]="modificationDetectee">
      <adm-collectivite-informations-generales [collectiviteForm]="collectiviteForm" [(collectivite)]="collectivite" (modificationDetecteeChange)="emettreModification($event)"></adm-collectivite-informations-generales>
      <adm-collectivite-donnees-fiscales [collectiviteForm]="collectiviteForm" [collectivite]="collectivite" (modificationDetecteeChange)="emettreModification($event)"></adm-collectivite-donnees-fiscales>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12 text-right">
          <p-button type="button" *ngIf="isMferAdmin()"  label="Fermer" icon="fas fa-times" styleClass=" ui-button-secondary" class="mr-2" (click)="fermer()" [disabled]="!isCollectiviteOuverte()"></p-button>
          <p-button label="Annuler" icon="fas fa-chevron-left" styleClass=" ui-button-secondary" class="mr-2" (click)="annuler()" [disabled]="!modificationDetectee"></p-button>
          <p-button label="Enregistrer" icon="fas fa-save" class="mr-2" (click)="enregistrer()" [disabled]="!modificationDetectee"></p-button>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Adresse" [disabled]="modificationDetectee">
      <adm-collectivite-onglet-adresse [collectiviteForm]="collectiviteForm" [(collectivite)]="collectivite" (modificationDetecteeChange)="emettreModification($event)"></adm-collectivite-onglet-adresse>
    </p-tabPanel>
    <p-tabPanel header="Liste de Diffusion" [disabled]="modificationDetectee">
      <adm-collectivite-liste-diffusion [collectivite]="collectivite"></adm-collectivite-liste-diffusion>
    </p-tabPanel>
    <p-tabPanel header="Agents" [disabled]="modificationDetectee">
      <adm-collectivite-agents [collectivite]="collectivite" (ajoutPremierAgent)="notifierListeDiffusion($event)"></adm-collectivite-agents>
    </p-tabPanel>
  </p-tabView>
</form>
<p-confirmDialog acceptLabel="Confirmer" rejectLabel="Annuler" [style]="{width: '50vw'}"></p-confirmDialog>
