<p-table [value]="listeDemandeProlongation$ | async">
  <!-- header -->
  <ng-template pTemplate="header">
    <tr style="text-align:center">
      <th class="col-etat">État</th>
      <th class="col-date">Date</th>
      <th class="col-delai">Date demandée</th>
      <th class="col-action">Action</th>
    </tr>
  </ng-template>
  <!-- body/contenu -->
  <ng-template pTemplate="body" let-demande>
    <tr>
      <td>
          <i class="{{getClassIcone(demande)}}" pTooltip="{{demande.libelleEtatDemande}}" tooltipPosition="top"></i>
      </td>
      <td>{{demande.dateDemande}}</td>
      <td>{{demande.dateAchevementDemandee}}</td>
      <td style="text-align: center">
        <a routerLink="/prolongation/demande/{{demande.id}}">
          <button pButton type="button" icon="fas fa-calendar-plus" class="ui-button-primary"></button>
        </a>
      </td>
    </tr>
  </ng-template>
  <!-- message : aucun résultat -->
  <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="4">
          Aucune donnée disponible dans le tableau
        </td>
      </tr>
    </ng-template>
</p-table>
