tr>th {
    background-color: #6c757d !important;
    color: white !important;
}
.large{
    width: 100%;
}
.col-etat{
    width: 10%
}
.col-date{
    width: 40%
}
.col-delai{
    width: 40%
}
.col-action{
    width: 10%
}
