<form [formGroup]="gestionEtatGeneralForm">

    <div class="ui-g ui-fluid">
      <div class="ui-g-3 ui-md-3">Année de programmation :</div>
      <div class="ui-g-3 ui-md-3">
        <p-dropdown [options]="annees" formControlName="selectionAnnee" placeholder="Cumul des années" optionLabel="annee" [showClear]="true"></p-dropdown>
      </div>
      <div class="ui-g-2 ui-md-2">Département :</div>
      <div class="ui-g-4 ui-md-4">
        <p-dropdown [options]="departements" formControlName="selectionDepartement" placeholder="..." optionLabel="codeEtNom" [showClear]="true" (onChange)="rechercherDepartementsEtCollectivitesEtClear()"></p-dropdown>
      </div>
      <div class="ui-g-3 ui-md-3">Collectivité :</div>
      <div class="ui-g-9 ui-md-9">
        <p-dropdown [options]="collectivites" formControlName="selectionCollectivite" placeholder="..." optionLabel="nomCourt" [showClear]="true" (onChange)="rechercherDepartementsEtCollectivites()"></p-dropdown>
      </div>
    </div>

  <p-tabView>
    <p-tabPanel header="Programme 793 - Principal" cache="false">
      <ng-template pTemplate="content">
        <app-gestion-etat-general [gestionEtatGeneralForm]="gestionEtatGeneralForm" [codeProgramme]="793"></app-gestion-etat-general>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Programme 794 - Spécial" cache="false">
      <ng-template pTemplate="content">
        <app-gestion-etat-general [gestionEtatGeneralForm]="gestionEtatGeneralForm" [codeProgramme]="794"></app-gestion-etat-general>
      </ng-template>
    </p-tabPanel>
  </p-tabView>

</form>
