<p-panel styleClass="mb-2" [formGroup]="collectiviteForm">
  <p-header>
    Données fiscales
  </p-header>

  <div class="ui-g ui-fluid">
    <div class="ui-g-3 ui-md-3 label-required">Poste comptable du receveur</div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText styleClass="ng-invalid"  formControlName="receveurNom" type="text">
    </div>
    <div class="ui-g-3 ui-md-3 label-required">Codique du receveur</div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText styleClass="ng-invalid"  formControlName="receveurNumCodique" type="text">
    </div>
  </div>

</p-panel>
