<form [formGroup]="formulaireIhm">
  <!-- aucune action lors de [Entrée] sur le formulaire -->
  <button pButton type="submit" style="display: none"></button>

  <!-- infos administratives de l'utilisateur -->
  <div class="ui-g ui-fluid">
    <!-- date -->
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-2 ui-md-2">Date</div>
      <div class="ui-g-10 ui-md-10">
        {{formulaireIhm.get('date').value}}
      </div>
    </div>
    <!-- type -->
    <div class="ui-g-12 ui-md-12" *ngIf="idDemandeSubvention">
      <div class="ui-g-2 ui-md-2 label-required">Type</div>
      <div class="ui-g-10 ui-md-10">
        <p-dropdown [options]="listeTypesAnomalieSubvention" optionLabel="libelle" placeholder="..."
          formControlName="selectionTypeAnomalie" [(ngModel)]="selectedAnoSubv"></p-dropdown>
        <div class="mt-1">
          <p-message severity="error" text="Sélectionner un type d'anomalie" *ngIf="!selectedAnoSubv"></p-message>
        </div>
      </div>
    </div>

    <!-- type -->
    <div class="ui-g-12 ui-md-12" *ngIf="idDemandePaiement">
      <div class="ui-g-2 ui-md-2 label-required">Type</div>
      <div class="ui-g-10 ui-md-10">
        <p-dropdown [options]="listeTypesAnomaliePaiement" optionLabel="libelle" placeholder="..."
          formControlName="selectionTypeAnomalie" [(ngModel)]="selectedAnoPaie"></p-dropdown>
        <div class="mt-1">
          <p-message severity="error" text="Sélectionner un type d'anomalie" *ngIf="!selectedAnoPaie"></p-message>
        </div>
      </div>
    </div>

    <!-- problématique -->
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-2 ui-md-2 label-required">Problématique</div>
      <div class="ui-g-10 ui-md-10">
        <textarea styleClass="ng-invalid" pInputTextarea formControlName="problematique" [(ngModel)]="propertyArea"></textarea>
        <p-message severity="error" text="Veuillez renseigner une problématique" *ngIf="!propertyArea"></p-message>
      </div>
    </div>
  </div>

  <!-- ajouter -->
  <div style="text-align: right;">
    <button pButton type="submit" icon="fas fa-check" label="Ajouter" (click)="ajouterAnomalie()" [disabled]="(!selectedAnoPaie || !selectedAnoSubv) && !propertyArea "></button>
  </div>
</form>
