<p-table [value]="[{}]">
    <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th class="text-center">Subvention</th>
                <th class="text-center">Paiement</th>
            </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td class="text-center">A qualifier</td>
            <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('mfer_sub_a_qual')">{{tdbDto.nbAqualifierSubvention}}</a></td>
            <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('mfer_pai_a_qual')">{{tdbDto.nbAqualifierPaiement}}</a></td>
        </tr>
        <tr *ngIf="admin">
            <td class="text-center">A accorder</td>
            <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('mfer_sub_a_acco')">{{tdbDto.nbAaccorderSubvention}}</a></td>
            <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('mfer_pai_a_acco')">{{tdbDto.nbAaccorderPaiement}}</a></td>
        </tr>
        <tr>
            <td class="text-center">A attribuer</td>
            <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('mfer_sub_a_attr')">{{tdbDto.nbAattribuerSubvention}}</a></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">A signaler</td>
            <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('mfer_sub_a_sign')">{{tdbDto.nbAsignalerSubvention}}</a></td>
            <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('mfer_pai_a_sign')">{{tdbDto.nbAsignalerPaiement}}</a></td>
        </tr>
        <tr>
            <td class="text-center">A prolonger</td>
            <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('mfer_sub_a_prol')">{{tdbDto.nbAprolongerSubvention}}</a></td>
            <td></td>
        </tr>
    </ng-template>
</p-table>

<br/>
<p-panel header="Liste des demandes de subvention" [toggleable]="true" [style]="{'margin-bottom':'20px'}"
  *ngIf="composantFils === 'tdbListeDemandesSubvention'" class="scroll">
  <app-tdb-liste-demandes-subvention [caseTdb]="caseTdb"></app-tdb-liste-demandes-subvention>
</p-panel>
<p-panel header="Liste des demandes de paiement" [toggleable]="true" [style]="{'margin-bottom':'20px'}"
  *ngIf="composantFils === 'tdbListeDemandesPaiement'" class="scroll">
  <app-tdb-liste-demandes-paiement [caseTdb]="caseTdb"></app-tdb-liste-demandes-paiement>
</p-panel>
<p-panel header="Liste des demandes de prolongation" [toggleable]="true" [style]="{'margin-bottom':'20px'}"
  *ngIf="composantFils === 'tdbListeDemandesProlongation'" class="scroll">
  <app-tdb-liste-demandes-prolongation [caseTdb]="caseTdb"></app-tdb-liste-demandes-prolongation>
</p-panel>
