<h3>{{prolongation.codeDepartement}} - {{prolongation.nomLongCollectivite}} </h3>
<form [formGroup]="dossierForm">
  <p-panel header="Dossier" [toggleable]="true">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12" *ngIf="form.numDossier.visible">
        <label class="ui-g-4 ui-md-4">N° de dossier</label>
        <div class="ui-g-8 ui-md-8">
            {{dossierForm.get('numDossier').value }}
        </div>
      </div>
      <div class="ui-g-12 ui-md-12" *ngIf="form.dateEcheanceAchevement.visible">
        <label class="ui-g-4 ui-md-4">Échéance d'achèvement</label>
        <div class="ui-g-8 ui-md-8">
        	{{dossierForm.get('dateEcheanceAchevement').value }}
        </div>
      </div>
    </div>
  </p-panel>
  <p-panel header="Prolongation" [toggleable]="true">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12" *ngIf="form.dateDemande.visible">
        <label class="ui-g-4 ui-md-4">Date de la demande</label>
        <div class="ui-g-8 ui-md-8">
        	{{dossierForm.get('dateDemande').value }}
        </div>
      </div>
      <div class="ui-g-12 ui-md-12" *ngIf="form.dateEcheanceAchevementDemande.visible">
        <label class="ui-g-4 ui-md-4  label-required">Date d'écheance achèvement demandée</label>
        <div class="ui-g-8 ui-md-8" *ngIf="form.dateEcheanceAchevementDemande.editable">
          <p-calendar formControlName="dateEcheanceAchevementDemande" dateFormat="dd/mm/yy" required></p-calendar>
          <div class="mt-1">
            <p-message severity="error" text="L'année d'achèvement demandée doit être supérieure à l'année d'achèvement actuelle " 
            *ngIf="!isDateProlongationValid() && dossierForm.get('dateEcheanceAchevementDemande').touched"></p-message>
          </div>
        </div>
        <div class="ui-g-8 ui-md-8" *ngIf="!form.dateEcheanceAchevementDemande.editable">
          {{dossierForm.get('dateEcheanceAchevementDemande').value }}
        </div>
      </div>
      <div class="ui-g-12 ui-md-12" *ngIf="form.demandeSignee.visible">
        <label class="ui-g-4 ui-md-4  label-required">Demande signée</label>
        <div class="ui-g-8 ui-md-8">
          <app-custom-file-transfer #fileTransfer accept=".pdf"
                label="Téléverser au format pdf"
                [titleDl]="documentName"
                (uploadCallback)="ajoutFichierUploader('DEMANDE_PROLONGATION', $event)"
                [affichageUpload]="form.demandeSignee.editable"
                [affichageDownload]="isDemandeProlongationExistante() && form.demandeSignee.visible"
                (downloadCallback)="telechargerDocumentProlongation('DEMANDE_PROLONGATION')"
                libelle = " Visualiser format PDF" >
                </app-custom-file-transfer>
        </div>
      </div>
      <div class="ui-g-12 ui-md-offset-9 ui-md-3">
        <p-button icon="fas fa-chevron-left" styleClass="ui-button-secondary mr-3" label="Annuler" (click)="annuler()" *ngIf="form.btnAnnuler.editable"></p-button>
        <p-button icon="fas fa-chevron-right" [disabled]="!isDateProlongationValid() && dossierForm.get('dateEcheanceAchevementDemande').touched" 
        styleClass="ui-button-primary ml-2" label="Demander" (click)="demander()" *ngIf="form.btnDemander.editable"></p-button>
      </div>
    </div>
  </p-panel>

  <p-panel header="Instruction" [toggleable]="true" *ngIf="afficherInstruction()">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12" *ngIf="form.etat.visible">
        <label class="ui-g-4 ui-md-4">État</label>
        <div class="ui-g-8 ui-md-8">
          {{ prolongation.etatLibelle }}
        </div>
      </div>
      <div class="ui-g-12 ui-md-12" *ngIf="form.motifRefus.visible">
        <label class="ui-g-4 ui-md-4">Motif de refus</label>
        <div class="ui-g-8 ui-md-8">
          <textarea class="form-control" rows="2" [readonly]="!form.motifRefus.editable"
            formControlName="motifRefus"></textarea>
        </div>
      </div>
      <div class="ui-g-12 ui-md-offset-9 ui-md-3">
        <p-button icon="fas fa-chevron-right" iconPos="right" styleClass="ui-button-primary" class="float-right"
        (click)="accorder()" label="Accorder" *ngIf="form.btnAccorder.editable"></p-button>
        <p-button icon="fas fa-times" styleClass="ui-button-danger" class="mr-1 float-right" (click)="refuser()"
        label="Refuser" *ngIf="form.btnRefuser.editable"></p-button></div>
    </div>
  </p-panel>
</form>
<p-confirmDialog acceptLabel="Confirmer" rejectLabel="Annuler" [style]="{width: '50vw'}"></p-confirmDialog>