:host /deep/ .ui-panel-titlebar{
    background-color: #6c757d !important;
    color: white !important;
}
:host /deep/ .ui-panel-titlebar-icon{
    color: white !important;
}
h3 {
    margin-bottom: 20px;
}  