:host /deep/ .ui-panel-titlebar{
    background-color: #6c757d !important;
    color: white !important;
}
:host /deep/ .ui-panel-titlebar-icon{
    color: white !important;
}

:host /deep/ hr{
  height: 1px;
  border: 1px rgb(219, 216, 216) solid;
  }
  h3 {
    margin-bottom: 20px;
}
  