<h3>{{objetFormulaire.codeDepartement}} - {{objetFormulaire.nomLongCollectivite}}</h3>

<p-button icon="pi pi-chevron-left" class="mb-2" styleClass="ui-button-secondary" label="Retour" title="Retour au dossier" (onClick)="retour()"></p-button>

<p-panel header="Dossier" [toggleable]="true">
  <div class="ui-g ui-fluid">
    <div class="ui-g-3 ui-md-3">État</div>
    <div class="ui-g-9 ui-md-9">
      {{objetFormulaire.etatDossier}}
    </div>
    <div class="ui-g-3 ui-md-3">Engagement juridique</div>
    <div class="ui-g-9 ui-md-9">
      {{objetFormulaire.engagementJuridique}}
    </div>
    <div class="ui-g-3 ui-md-3">N° de dossier</div>
    <div class="ui-g-9 ui-md-9">
      {{objetFormulaire.numDossier}}
    </div>
    <div class="ui-g-3 ui-md-3">Année</div>
    <div class="ui-g-9 ui-md-9">
      {{objetFormulaire.annee}}
    </div>
    <div class="ui-g-3 ui-md-3">Sous-programme</div>
    <div class="ui-g-9 ui-md-9">
      {{objetFormulaire.descriptionSousProgramme}}
    </div>
    <div class="ui-g-3 ui-md-3">Collectivité</div>
    <div class="ui-g-9 ui-md-9">
      {{objetFormulaire.nomLongCollectivite}}
    </div>
    <div class="ui-g-12 ui-md-12">
      <hr>
    </div>
    <div class="ui-g-7 ui-md-7">Montant prévisionnel des travaux</div>
    <div class="ui-g-5 ui-md-5">
      {{objetFormulaire.montantPrevisionelTravaux | montantEuros}}
    </div>
    <div class="ui-g-7 ui-md-7">Montant total des travaux pour lesquels un ou plusieurs acomptes a été versé(s)</div>
    <div class="ui-g-5 ui-md-5">
      {{objetFormulaire.montantTravauxVerses | montantEuros}}
    </div>
    <div *ngIf="objetFormulaire.resteDisponible !=0" class="ui-g-12 ui-md-12">
      <hr>
    </div>
    <div *ngIf="objetFormulaire.resteDisponible !=0" class="ui-g-12 ui-md-12 mb-0"><h4 class="mb-0">Aide FACE</h4></div>
    <div *ngIf="!!dataChart && objetFormulaire.resteDisponible !=0" class="ui-g-12 ui-md-12 mr-2 ml-2 mt-0">
      <p-chart style="overflow-x:visible;overflow-y:visible;" type="horizontalBar" [data]="dataChart"
      [responsive]="true" [options]="options" height="15em"></p-chart>
    </div>

    <div class="ui-g-12 ui-md-12">
      <hr>
    </div>
    <div class="ui-g-3 ui-md-3">Échéance de lancement </div>
    <div class="ui-g-9 ui-md-9">
      {{objetFormulaire.dateEcheanceLancement}}
    </div>
    <div class="ui-g-3 ui-md-3">Échéance de l'achèvement </div>
    <div class="ui-g-9 ui-md-9">
      {{objetFormulaire.dateEcheanceAchevement}}
    </div>
    <ng-container *ngIf="isUniquementGenerique()">
      <div class="ui-g-4 ui-md-4" *ngIf="isDemandeSubventionVisible() && isCollectiviteOuvert() && objetFormulaire.estUniqueSubventionEnCoursParSousProgramme">
        <a routerLink="/subvention/demande/dossier/{{idDossier}}">
          <p-button label="Demander une subvention" icon="fas fa-paste" class="ui-button-primary"></p-button>
        </a>
      </div>
      <div class="ui-g-4 ui-md-4" *ngIf="isDemandePaiementVisible() && isCollectiviteOuvert() && objetFormulaire.estUniquePaiementEnCours">
        <a routerLink="/paiement/demande/dossier/{{idDossier}}">
          <p-button label="Demander un paiement" icon="fas fa-euro-sign" class="ui-button-primary"></p-button>
        </a>
      </div>
      <div class="ui-g-4 ui-md-4">
        <a routerLink="/prolongation/demande/dossier/{{idDossier}}" *ngIf="affichageBoutonProlongation() && isCollectiviteOuvert()">
          <p-button label="Demander une prolongation" icon="fas fa-calendar-plus" class="ui-button-primary"></p-button>
        </a>
      </div>
    </ng-container>
  </div>
</p-panel>
<br />
<p-tabView>
  <p-tabPanel header="Subvention" [selected]="true">
    <sub-dossier-subvention></sub-dossier-subvention>
  </p-tabPanel>
  <p-tabPanel header="Paiement">
    <sub-dossier-paiement (demandePaiementEvent)="demandePaiementSoldeExiste($event)"></sub-dossier-paiement>
  </p-tabPanel>
  <p-tabPanel header="Prolongation" *ngIf="isOngletProlongationAffiche()">
    <sub-dossier-prolongation></sub-dossier-prolongation>
  </p-tabPanel>
</p-tabView>
