<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-offset-10 ui-md-2">
    <p-button label="Ajouter" icon="fas fa-user-plus" class="float-right" (click)="afficherModalRecherche()" *ngIf="isAdminCollectivite() && isCollectiviteOuvert() "></p-button>
  </div>
</div>

<p-table [value]="listeAgentsCollectivite$ | async">
  <ng-template pTemplate="header">
    <tr class="text-center">
      <th class="ui-md-4">E-mail</th>
      <th class="ui-md-2">Nom</th>
      <th class="ui-md-2">Prénom</th>
      <th class="ui-md-2">Téléphone</th>
      <th [ngClass]="getTailleAdmin()">Admin</th>
      <th class="ui-md-1" *ngIf="isCollectiviteOuvert()">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-utilisateur>
    <tr>
      <td>{{utilisateur.email}}</td>
      <td>{{utilisateur.nom}}</td>
      <td>{{utilisateur.prenom}}</td>
      <td>{{utilisateur.telephone}}</td>
      <td>
        <p-checkbox [ngModel]="utilisateur.admin" binary="true"
          [disabled]="this.agentConnecte.id === utilisateur.idUtilisateur || bloquerActionSiDernierAdministrateur(utilisateur)"
          (onChange)="isAdminCollectivite() && isCollectiviteOuvert() && changerEtatAgent(utilisateur.idUtilisateur)"></p-checkbox>
      </td>
      <td *ngIf="isCollectiviteOuvert()">
        <p-button type="button" icon="fas fa-trash" styleClass="ui-button-danger"
          [disabled]="this.agentConnecte.id === utilisateur.idUtilisateur || bloquerActionSiDernierAdministrateur(utilisateur)"
          *ngIf="isAdminCollectivite()"
          (onClick)="confirmerSupprimerAgentCollectivite(utilisateur.idUtilisateur)"></p-button>
      </td>
    </tr>
  </ng-template>
  <!-- message : aucun résultat -->
  <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="6">
          Aucune donnée disponible dans le tableau
        </td>
      </tr>
    </ng-template>
</p-table>

<!-- modal de recherche d'un agent -->
<p-dialog header="Ajout d'un agent" [(visible)]="affichageModalRecherche" [modal]="true" [responsive]="true" [style]="{width: '400px', minWidth: '200px'}" showEffect="fade">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
        Veuillez saisir l'adresse e-mail de l'agent à ajouter.
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="email">E-Mail</label>
        </div>
        <div class="ui-g-8">
          <input pInputText name="emailRechercheAgent" [(ngModel)]="emailRechercheAgent" email #mailUtilisateur="ngModel"/>
          <p-message severity="error" text="E-mail invalide" *ngIf="mailUtilisateur.dirty && mailUtilisateur.invalid && mailUtilisateur.errors?.email && mailUtilisateur.touched"></p-message>
        </div>
    </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fas fa-search" (click)="rechercherUtilisateur()" label="Rechercher" [disabled]="!emailRechercheAgent || mailUtilisateur.errors?.email"></button>
      </div>
  </p-footer>
</p-dialog>

<!-- modal de acceptation (ou non) de l'agent trouvé -->
<p-dialog header="Agent trouvé" [(visible)]="affichageModalAgentTrouve" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" showEffect="fade">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
          L'agent {{agentTrouveBdd.prenom}} - {{agentTrouveBdd.nom}} a été trouvé souhaitez-vous l'ajouter dans la liste des agents ?
      </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fas fa-times" (click)="fermerModalAgentTrouve()" label="Non"></button>
          <button type="button" pButton icon="fas fa-check" (click)="accepteAgentTrouve()" label="Oui"></button>
        </div>
    </p-footer>
</p-dialog>

<!-- modal de acceptation (ou non) de l'agent NON trouvé -->
<p-dialog header="Agent non trouvé" [(visible)]="affichageModalAgentNonTrouve" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" showEffect="fade">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      L'agent n'a pas été trouvé.<br/>
      <br/>
      Souhaitez-vous créer un agent à partir de l'email {{emailRechercheAgent}}, ses autres informations seront complétées lors de sa première connexion ?
    </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fas fa-times" (click)="fermerModalAgentNonTrouve(); mailUtilisateur.reset()" label="Non"></button>
        <button type="button" pButton icon="fas fa-check" (click)="creerUtilisateur(); mailUtilisateur.reset()" label="Oui"></button>
      </div>
  </p-footer>
</p-dialog>

<!-- modal de confirmation de suppression d'un agent -->
<p-dialog header="Confirmation de suppression d'un agent" [(visible)]="affichageModalConfirmSupprAgent" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" showEffect="fade">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
        Êtes-vous sûr de vouloir supprimer cet agent ?
    </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fas fa-times" (click)="fermerConfirmSupprAgent()" label="Non"></button>
        <button type="button" pButton icon="fas fa-check" (click)="supprimerAgentCollectivite()" label="Oui"></button>
      </div>
  </p-footer>
</p-dialog>
