tr>th {
  background-color: #6c757d !important;
  color: white !important;
}
th.col-date{
  width:20%;
}
th.col-courrier{
  width:60%;
}
th.col-action{
  width:16%;
}
th.col-num{
  width:5%;
}
th.col-code{
  width:5%;
}
th.col-annee{
  width:10%;
}
th.col-libelle{
  width:30%;
}
