<form [formGroup]="dotationAnnuelleForm">

  <div class="ui-g ui-fluid">
    <div class="ui-g-3 ui-md-3">Année de programmation :</div>
    <div class="ui-g-9 ui-md-9">
      <p-dropdown [options]="annees" formControlName="selectionAnnee" [filter]="true" optionLabel="annee"
        [style]="{'width':'100%'}" (onChange)="majDtoFromFormulaire()"></p-dropdown>
    </div>
  </div>

  <p-tabView>


    <p-tabPanel header="Programme 793 - Principal" [selected]="true">
      <div class="p-grid mb-4">
        <div class="table-responsive">
          <p-table [value]="dotationAnnuelleDto.dotationsCollectiviteProgrammePrincipal" [autoLayout]="true">
            <ng-template pTemplate="header">
              <tr class="text-center">
                <th class="col-num">N&deg;</th>
                <th class="col-code">Code</th>
                <th class="col-libelle">Libelle</th>
                <th class="col-annee">{{dotationAnnuelleDto.annee}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dotationCollectiviteProgrammePrincipal>
              <tr>
                <td>{{dotationCollectiviteProgrammePrincipal.numSousAction}}</td>
                <td>{{dotationCollectiviteProgrammePrincipal.abreviation}}</td>
                <td>{{dotationCollectiviteProgrammePrincipal.description}}</td>
                <td>{{dotationCollectiviteProgrammePrincipal.montant | montantEuros}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td class="bg-secondary text-white" colspan="3" style="text-align:right">Somme (€)</td>
                <td>{{dotationAnnuelleDto.sommeProgrammePrincipal | montantEuros}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Programme 794 - Spécial">
      <div class="p-grid mb-4">
        <div class="table-responsive">
          <p-table [value]="dotationAnnuelleDto.dotationsCollectiviteProgrammeSpecial" [autoLayout]="true">
            <ng-template pTemplate="header">
              <tr class="text-center">
                <th class="col-num">N°</th>
                <th class="col-code">Code</th>
                <th class="col-libelle">Libelle</th>
                <th class="col-annee">{{dotationAnnuelleDto.annee}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dotationCollectiviteProgrammeSpecial>
              <tr>
                <td>{{dotationCollectiviteProgrammeSpecial.numSousAction}}</td>
                <td>{{dotationCollectiviteProgrammeSpecial.abreviation}}</td>
                <td>{{dotationCollectiviteProgrammeSpecial.description}}</td>
                <td>{{dotationCollectiviteProgrammeSpecial.montant | montantEuros}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td class="bg-secondary text-white" colspan="3" style="text-align:right">Somme (€)</td>
                <td>{{dotationAnnuelleDto.sommeProgrammeSpecial | montantEuros}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Courrier">
      <p-table [value]="dotationAnnuelleDto.documents">
        <ng-template pTemplate="header">
          <tr class="text-center">
            <th>Date</th>
            <th class="col-courrier">Courrier(s)</th>
            <th class="col-action">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-document>
          <tr>
            <td>{{document.dateTeleversement}}</td>
            <td>{{document.nomFichierSansExtension}}</td>
            <td style="text-align:center">
              <app-custom-file-transfer
                [titleDl]="document.nomFichierSansExtension + '.' + document.extensionFichier"
                [affichageDownload]="true"
                (downloadCallback)="telechargerDocument(document.id)"
                mode="download"></app-custom-file-transfer>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>

  </p-tabView>

</form>
