tr>th {
    background-color: #6c757d !important;
    color: white !important;
}
.green{
    color: green;
}
th.col-nom{
    width:80%;
}
th.col-etat{
    width:12%;
}
#container-messages {
    padding: 0px;
}