<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-offset-10 ui-md-2">
    <button type="button" pButton icon="fas fa-plus" (click)="afficherModal()" label="Ajouter"></button>
  </div>
</div>

<p-table [value]="collectivites">
  <ng-template pTemplate="header">
    <tr class="text-center">
      <th class="col-nom">Nom</th>
      <th class="col-etat">État</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-collectivite>
    <tr>
      <td>{{collectivite.nomCourt}}</td>
      <td>{{collectivite.etatCollectivite | ajoutAccentEtatCollectivite}}
        <i *ngIf="collectivite.etatCollectivite=='CREEE'"  class="fas fa-check green"></i>
        <i *ngIf="collectivite.etatCollectivite=='FERMEE'"  class="fas fa-times red"></i>
      </td>

    </tr>
  </ng-template>
  <!-- message : aucun résultat -->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="2">
        Aucune donnée disponible dans le tableau
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Modal de Création d'une collectivité -->
<p-dialog header="Création d'une collectivité" [(visible)]="affichageModalCreationCollectivite"
  [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '400px'}" showEffect="fade" (onHide)="fermerModal()">
  <div id="container-messages" class="col-xs-12 col-lg-12">
    <lay-messages key="modale-collectivite"></lay-messages>
  </div>
  <adm-collectivite-informations-generales [collectiviteForm]="collectiviteForm" [collectivite]="collectivite"></adm-collectivite-informations-generales>
  <adm-collectivite-donnees-fiscales [collectiviteForm]="collectiviteForm" [collectivite]="collectivite"></adm-collectivite-donnees-fiscales>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12 text-right">
      <p-button label="Annuler" icon="fas fa-chevron-left" class="mr-2" styleClass="ui-button-secondary" (click)="annuler()"></p-button>
      <p-button label="Enregistrer" icon="fas fa-save" class="mr-2" (click)="enregistrer()"></p-button>
    </div>
  </div>
</p-dialog>
