<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xml:lang="fr" lang="fr"> 
	<div>Bonjour, </div>
	<br/>
	<div>La demande de subvention que vous avez effectuée le <span th:text="${dateDemande}"></span> 
	d'un montant de <span th:text="${montantDemande}"></span> euros du sous programme <span th:text="${sousProgrammeDemande}"></span> 
	a été acceptée, vous pouvez dorénavant faire des demandes de paiement en allant dans votre tableau de bord.</div>
</html>
