<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xml:lang="fr" lang="fr"> 
	<div>Bonjour, </div>
	<br/>
	<div>La demande de <span th:text="${type}"></span> que vous avez effectuée le <span th:text="${dateDemande}"></span> 
	d'un montant de <span th:text="${montantDemande}"></span> euros du sous programme <span th:text="${sousProgrammeDemande}"></span> 
	a été refusée pour le motif suivant: <span th:text="${motifRefus}"></span>.
	<p>Pour plus d'information, veuillez vous référer à votre tableau de bord.</p>
	</div>
</html>
