
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xml:lang="fr" lang="fr">
<head>
	<style type="text/css">
	table, th, td{
		border: 2px solid black;
		border-collapse: collapse;
		border-spacing: 0px;
	}
	
	.bottom_border{
		border-bottom: 2px solid black;
	}
	
	.even {background-color: #eeeeee;}
	
	.total {
		border-top: 3px solid black;
		background-color: #e5e5e5;
	  	height: 24px;
	  	padding: 10px;
	}
	
	.noborder{
		border:0px;
	}
	
	.no_padding{
		padding:0px;
		margin:0px;
		padding-left:0pt;
		margin-left:0pt;
		padding-right:0pt;
		margin-right:0pt;
		border:0px;
		
	}
	
	.no_left_padding{
		padding-left:0pt;
		margin-left:0pt;
	}
	
	.fixed{
		height: 50px;
	}
	
	th,
	td {
	  height: 24px;
	  padding: 10px;
	  text-align: center;
	}
	
	</style>
</head>
	<body>
	<p>Madame, Monsieur, </p>
	<p>Vous trouverez ci-joint un état de la situation de consommation des dotations de <span th:text="${#dates.year(#dates.createToday()) - 4}">[Année - 4]</span> à <span th:text="${#dates.year(#dates.createToday())}">[Année]</span> établi au <span th:text="${#dates.format(#dates.createToday(),'dd MMMM yyyy')}">[date du jour]</span> 
	de votre entité à titre indicatif. En cas de doute ou d'erreur n'hésitez pas à prendre contact avec le service du CAS FACÉ.
	</p>
		<table class="noborder">
			<tbody>
				<tr>
					<td class="no_padding">
						<table>
							<tr class="fixed">
								<th></th>
							</tr>
							<tr class="bottom_border">
								<th>Année Dotation</th>
							</tr>
							<tr th:each="annee, iStatAn : ${listeAnnees}" th:class="${iStatAn.even}? 'even'">
								<th><span th:text="${annee}">9999</span></th>
							</tr>
							<tr class="total">
								<th>Total</th>
							</tr>
						</table>
					</td>
					<td th:each="spr : ${sprEnum}" class="no_padding">
						<table>
							<tr class="fixed">
								<th colspan="3"><span th:text="${spr.getNom()}">XXX</span></th>
							</tr>
			  			    <tr class="bottom_border">
							    <th>Montant Attribué</th>
							    <th>Montant Consommé</th>
							    <th>Taux de Consommation</th>
				 			 </tr>
							<tr th:each="annee, iStat : ${listeAnnees}" th:class="${iStat.even}? 'even'">
							    <td>
							    	<span th:text="${dtoComplet.getDTOParAnneeEtSousProgramme(annee, spr).getDotationRepartie()}"> </span>
							    </td>
							    <td>
							    <span th:text="${dtoComplet.getDTOParAnneeEtSousProgramme(annee, spr).getAideConsommee()}"> </span>
							    </td>
							    <td><span th:text="${dtoComplet.getDTOParAnneeEtSousProgramme(annee, spr).getTaux()}"> </span> %</td>
		  					</tr>
		  					<tr class="total">
							    <td>
							    	<span th:text="${dtoComplet.getTotalParSousProgramme(spr).getDotationRepartie()}"> </span>
							    </td>
							    <td>
							    <span th:text="${dtoComplet.getTotalParSousProgramme(spr).getAideConsommee()}"> </span>
							    </td>
							    <td><span th:text="${dtoComplet.getTotalParSousProgramme(spr).getTaux()}"> </span> %</td>
		  					</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:unless="${demandeSubvention}">
			<p>A ce stade, je note que pour la collectivité de <span th:text="${nomCollectivite}"></span> aucun programme prévisionnel n'a été transmis, 
			ce qui ne permet pas d'engager l'établissement d'une décision attributive de subvention pour 
			<span th:text="${#dates.year(#dates.createToday())}">[Année]</span>.  En absence 
			de communication dudit document dans les temps impartis la dotation sera perdue. 
			Si vous n'avez pas usage de tout ou partie de cette dernière merci d'en informer 
			le service de gestion du CAS-FACÉ pour que ces crédits soient redéployés.</p>
		</div>
		<p>Je vous prie d'agréer, Madame, Monsieur, l'expression de ma considération distinguée.</p>
	</body>
</html>