
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xml:lang="fr" lang="fr">
<head>
<style type="text/css">
ul {
	list-style-type: circle;
}
</style>
</head>
<body>
	<p>Bonjour Madame, Monsieur,</p>
	<p>Vous n'avez pas encore engagé la totalité des travaux des
		dossiers suivants :</p>
	<div>
		<ul th:each="dossier : ${listeNumDossier}">
			<li th:text="${dossier.getNumDossier()}"></li>
		</ul>
	</div>

	<p>Pour rappel, vous avez jusqu'au 31 décembre pour engager les
		travaux des dossiers cités ci-dessus.</p>


	<p>Je vous prie d'agréer, Madame, Monsieur, l'expression de ma
		considération distinguée.</p>
</body>
</html>