<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xml:lang="fr" lang="fr">
<div>Bonjour,</div>
<br />
<div>
Vous avez effectué le <span th:text="${dateDemande}"></span> une demande de subvention d'un montant de <span th:text="${montantDemande}"></span> € 
pour un taux d'aide de <span th:text="${tauxPrecedent}"></span>% sur le sous programme <span th:text="${sousProgrammeDemande}"></span>. 
Le taux que vous avez demandé a été refusé par le service instructeur du dossier. 
Par conséquent, votre demande est rejetée.

Vous pouvez faire la même demande de subvention en indiquant un taux d’aide de  <span th:text="${tauxDemande}"></span>%
 (taux maximum accepté par le service instructeur sur ce dossier) en vous rendant sur votre tableau de bord.
</div>
</html>
