
<html xmlns:th="http://www.thymeleaf.org">
	<div>Madame, Monsieur, </div>
	<br/>
	<div>Le service de gestion du CAS FACE a le plaisir de vous informer que votre demande de report de la date de solde de la subvention au <span th:text="${dateAchevement}"></span> a été accordée.</div>
	<br/>
	<div>Je vous prie d'agréer, Madame, Monsieur, l'expression de ma considération distinguée.</div>
</html>
