  <div class="p-grid">
    <p-table [value]="dotationsCollectiviteTdbDto" [lazy]="true" (onLazyLoad)="loadDotationsLazy($event)" [paginator]="true"
    [rows]="pageSize" [totalRecords]="nbTotalResultats" [responsive]="true">
      <ng-template pTemplate="header" let-columns>
          <tr style="text-align:center">
              <th>Sous-programme</th>
              <th>Dotation</th>
              <th class="col-action">Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dotationDto>
          <tr>
              <td>{{dotationDto.descriptionSousProgramme}}</td>
              <td>{{dotationDto.montant | montantEuros}}</td>
              <td style="text-align: center">
                  <a routerLink="/subvention/demande">
                    <button pButton type="button" icon="fas fa-paste" class="ui-button-primary mr-2" title="Demander une subvention" (click)="passageDotation(dotationDto)"></button>
                  </a>
                  <a routerLink="/dotation/renoncement/{{dotationDto.idSousProgramme}}">
                    <button pButton type="button" icon="fas fa-reply" class="ui-button-warning mr-2" title="Renoncer à une dotation"></button>
                  </a>
              </td>
          </tr>
      </ng-template>
      </p-table>
  </div>

