<div class="p-grid">
  <p-table [value]="dossiersSubventionTdbDto" [lazy]="true" (onLazyLoad)="loadDossiersLazy($event)" [paginator]="true"
  [rows]="pageSize" [totalRecords]="nbTotalResultats" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
        <tr style="text-align:center">
            <th>Date de création</th>
            <th>Collectivité</th>
            <th>N° de dossier</th>
            <th>Montant d'aide demandé</th>
            <th>Montant d'aide attribué</th>
            <th class="col-action">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dossierDto>
        <tr>
            <td>{{dossierDto.dateCreationDossier}}</td>
            <td>{{dossierDto.nomCourtCollectivite}}</td>
            <td>{{dossierDto.numDossier}}</td>
            <td>{{dossierDto.plafondAideSansRefus | montantEuros}}</td>
            <td>{{dossierDto.plafondAideDossier | montantEuros}}</td>
            <td style="text-align: center">
              <a routerLink="/subvention/dossier/{{dossierDto.id}}">
                <button pButton type="button" icon="fas fa-folder" class="ui-button-primary mr-2"></button>
              </a>
          </td>
        </tr>
    </ng-template>
    </p-table>
</div>
