<form [formGroup]="collectiviteForm">
<div class="ui-g ui-fluid">
    <div class="ui-g-3 ui-md-3">MOA et MOE identique</div>
    <div class="ui-g-9 ui-md-9">
      <div class="ui-g-12">
        <p-checkbox formControlName='avecMoaMoeIdentiques' (onChange)="changementEtatCheckbox($event, 'MoaMoeIdentiques')" binary="true"></p-checkbox>
      </div>
    </div>
    <div class="ui-g-3 ui-md-3">Plusieurs MOE</div>
    <div class="ui-g-9 ui-md-9">
      <div class="ui-g-12">
        <p-checkbox formControlName='avecPlusieursMoe' (onChange)="changementEtatCheckbox($event, 'PlusieursMoe')" binary="true"></p-checkbox>
      </div>
    </div>
  </div>
</form>
<p-accordion [multiple]="true">
  <p-accordionTab header="MOA" [selected]="true" >
    <adm-collectivite-adresse [adresseForm]="adresseFormMoa" [fermee]="isCollectiviteOuvert()" (modificationDetecteeChange)="emettreModification($event)"></adm-collectivite-adresse>
  </p-accordionTab>
  <p-accordionTab header="MOE" [selected]="true" *ngIf="showMoe()" >
    <adm-collectivite-adresse [adresseForm]="adresseFormMoe" [fermee]="isCollectiviteOuvert()" (modificationDetecteeChange)="emettreModification($event)"></adm-collectivite-adresse>
  </p-accordionTab>
</p-accordion>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-12 pr-0 text-right">
    <p-button label="Annuler" icon="fas fa-chevron-left" styleClass="mr-3 ui-button-secondary" (click)="annuler()" [disabled]="!modificationDetectee"></p-button>
    <p-button label="Enregistrer" icon="fas fa-save" class="ml-2 mr-0" (onClick)="enregistrer()" [disabled]="!modificationDetectee || !enregistrementPossible"></p-button>
  </div>
</div>

