<p-panel header="Critères" styleClass="mb-4" *ngIf="!utilisateurGenerique">
  <div class="ui-g ui-fluid">
    <div class="ui-g-3 ui-md-3">Collectivité:</div>
    <div class="ui-g-9 ui-md-9 ">
      <p-dropdown [disabled]="dropdownDisabled" [(ngModel)]="collectiviteSelection" [options]="listeCollectivites" placeholder="..."
            optionLabel="nomCourt" (ngModelChange)="onChangeCollectivite(collectiviteSelection)" >
      </p-dropdown>
    </div>
  </div>
</p-panel>
<adm-collectivite-resultat (modificationDetecteeChange)="modificationDetectee($event)" [(collectivite)]="collectivite" *ngIf="collectivite"></adm-collectivite-resultat>
