<p-panel header="Département" [toggleable]="true" class="okr" styleClass="mb-4">

  <form [formGroup]="dotationCollectiviteForm">

    <div class="ui-g ui-fluid">
      <label class="ui-g-2 ui-md-2" *ngIf="!isUserUniquementGenerique">Département </label>
      <div class="ui-g-10 ui-md-10" *ngIf="!isUserUniquementGenerique">
        <p-dropdown formControlName="selectionDepartement" [options]="departements" [filter]="true" placeholder="..."
          optionLabel="codeEtNom" (onChange)="majDtoFromFormulaire()"></p-dropdown>
      </div>
      <div *ngIf="hide==false">
        <p-table [value]="[{}]" styleClass="mt-4">
          <ng-template pTemplate="header">
            <tr class="text-center">
              <th class="col-type"
                *ngFor="let dotationDepartement of dotationCollectiviteRepartitionDto.dotationsDepartement"
                pTooltip={{dotationDepartement.descriptionSousProgramme}}>
                {{dotationDepartement.numeroSousProgramme}} - {{dotationDepartement.abreviationSousProgramme}}</th>
              <th class="col-somme">Somme (€)</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body">
            <tr>
              <td *ngFor="let dotationDepartement of dotationCollectiviteRepartitionDto.dotationsDepartement">
                {{dotationDepartement.montantNotifie | montantEuros}}</td>
              <td>{{calculSommeDotationsDepartement() | montantEuros}}</td>
            </tr>
          </ng-template>
          <!-- message : aucun résultat -->
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="6">
                Aucune donnée disponible dans le tableau
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </form>
</p-panel>

<p-tabView *ngIf="hide==false">

  <p-tabPanel header="Courrier" [selected]="true">

    <div class="d-flex justify-content-end">
      <app-custom-file-transfer (uploadCallback)="televerserDocument('COURRIER_REPARTITION', $event)"
        [affichageUpload]="true" label="Téléverser" accept=".pdf" class="float-right" mode="button-text"
        icon="fas fa-upload" title={{labelTeleverser}}>
      </app-custom-file-transfer>
    </div>

    <p-table [value]="dotationCollectiviteRepartitionDto.documents">
      <ng-template pTemplate="header">
        <tr class="text-center">
          <th>Date</th>
          <th class="col-courrier">Courrier(s)</th>
          <th class="col-action">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-document>
        <tr>
          <td>{{document.dateTeleversement}}</td>
          <td>{{document.nomFichierSansExtension}}</td>
          <td style="text-align:center">
            <app-custom-file-transfer
              [titleDl]="document.nomFichierSansExtension + '.' + document.extensionFichier"
              [affichageDownload]="true"
              (downloadCallback)="telechargerDocument(document.id)"
              mode="download">
            </app-custom-file-transfer>
            <button pButton type="button" title="Supprimer" *ngIf="isSupprimerDocumentVisible(document.codeTypeDocument)"
              (click)="confirmerSupprimerDocument(document.id)" icon="fas fa-trash"
              class="ui-button-danger ml-1"></button>
          </td>
        </tr>
      </ng-template>
      <!-- message : aucun résultat -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="3">
            Aucune donnée disponible dans le tableau
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- modal de confirmation de suppression d'un document -->
    <p-dialog header="Confirmation de suppression d'un courrier" [(visible)]="affichageModalConfirmerSupprimerDocument"
      [modal]="true" [responsive]="true" [style]="{width: '360px', minWidth: '200px'}" showEffect="fade">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          Êtes-vous sûr de vouloir supprimer ce courrier ?
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fas fa-times" (click)="fermerConfirmerSupprimerDocument()"
            label="Non"></button>
          <button type="button" pButton icon="fas fa-check" (click)="supprimerDocument()" label="Oui"></button>
        </div>
      </p-footer>
    </p-dialog>

  </p-tabPanel>

  <p-tabPanel header="Répartition">

    <p-table [value]="dotationCollectiviteRepartitionDto.collectivitesRepartition" dataKey="id" editMode="row">

      <ng-template pTemplate="header">
        <tr class="text-center">
          <th class="col-collectivite">Collectivité</th>
          <th class="col-type"
            *ngFor="let dotationDepartement of dotationCollectiviteRepartitionDto.dotationsDepartement"
            pTooltip={{dotationDepartement.descriptionSousProgramme}}>{{dotationDepartement.numeroSousProgramme}} - {{dotationDepartement.abreviationSousProgramme}}
          </th>
          <th class="col-somme">Somme (€)</th>
          <th class="col-action">Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-collectiviteRepartition let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="collectiviteRepartition">

          <td>{{collectiviteRepartition.nomCourt}}</td>

          <td *ngFor="let dotationCollectivite of collectiviteRepartition.dotationsCollectivite">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input [disabled]="dotationCollectivite.idDotationDepartement === null" style="width: 100%"
                   pInputText [(ngModel)]="dotationCollectivite.montant" required type="number">
              </ng-template>
              <ng-template pTemplate="output">
                {{dotationCollectivite.montant | montantEuros}}
              </ng-template>
            </p-cellEditor>
          </td>

          <td>{{calculSommeDotationsCollectivite(collectiviteRepartition.dotationsCollectivite) | montantEuros}}</td>

          <td style="text-align:center">
            <button *ngIf="!editing" pButton type="button" pInitEditableRow title="Modifier" icon="fas fa-pen"
              class="ui-button-info" (click)="onRowEditInit(collectiviteRepartition)"></button>
            <button *ngIf="editing" pButton type="button" pCancelEditableRow title="Annuler" icon="fas fa-chevron-left"
            class="ui-button-secondary" (click)="onRowEditCancel(collectiviteRepartition, ri)"
            style="margin-right: .5em"></button>
            <button *ngIf="editing" pButton type="button" pSaveEditableRow title="Enregistrer" icon="fas fa-save"
              class="ui-button-info" (click)="onRowEditSave(collectiviteRepartition, ri)"></button>
          </td>
        </tr>
      </ng-template>

      <!-- message : aucun résultat -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="8">
            Aucune donnée disponible dans le tableau
          </td>
        </tr>
      </ng-template>
    </p-table>

  </p-tabPanel>

</p-tabView>
