.full-dpt{
    width:100%;
}
.show{
    display: inline;
}
:host /deep/ .ui-panel-titlebar{
    background-color: #6c757d !important;
    color: white !important;
}
:host /deep/ .ui-panel-titlebar-icon{
    color: white !important;
}

tr>th {
  background-color: #6c757d !important;
  color: white !important;
}
th.col-collectivite{
  width:20%;
}
th.col-type{
  width:13%;
}
th.col-somme{
  width:15%;
}

th.col-date{
  width:20%;
}
th.col-courrier{
  width:60%;
}
th.col-action{
  width:13%;
}
