
<div class="p-grid mb-4">
  <div class="table-responsive">
    <p-table exportFilename={{getDynamicDownloadName()}} #cadencement [value]="cadencementProgramme" [columns]="cols" class="font-size" [autoLayout]="true">
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-start">
            <button label="Télécharger en format CSV" type="button" pButton icon="pi pi-file-o" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom" (click)="cadencement.exportCSV()"></button>
          </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th [style]="col.style" *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <div *ngIf="col.header==='Etat'">
              <i *ngIf="!rowData[col.field]" class="fa fa-exclamation-triangle" style="color:red" aria-hidden="true"></i>
            </div>
            <div *ngIf="col.euros">
              {{rowData[col.field] | montantEuros}}
            </div>
            <div *ngIf="col.header!=='Etat' && !col.euros">
              {{rowData[col.field]}}
            </div>
          </td>
      </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-columns="columns">
        <tr>
          <td class="bg-secondary text-white" style="text-align:right" colspan="3">Total</td>
          <td *ngFor="let total of totalAnnees">
            {{total | montantEuros}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
