/* Pour récupérer les styles de Bootstrap écrasés par jquery.datatables.js */
table.dataTable.table-bordered>tbody>tr>td, table.dataTable.table-bordered>tbody>tr>th,
	table.dataTable.table-bordered>tfoot>tr>td, table.dataTable.table-bordered>tfoot>tr>th,
	table.dataTable.table-bordered>thead>tr>td, table.dataTable.table-bordered>thead>tr>th
	{
	border: 1px solid #DDD;
}

/* Pour récupérer les styles de Bootstrap écrasés par DataTable */
table.dataTable.table-bordered>thead>tr>td, table.dataTable.table-bordered>thead>tr>th
	{
	border-bottom-width: 2px;
}

/* Pour récupérer les styles de Bootstrap écrasés par DataTable */
table.dataTable.table-bordered {
	border: 1px solid #DDD;
}

/* Pour récupérer les styles de Bootstrap écrasés par DataTable */
table.dataTable thead th, table.dataTable thead td {
	padding: 8px;
}

body {
	background-color: #f5f5f5;
}

/* Rendering nav-bar quick fixes  */
.navbar-brand {
	white-space: nowrap;
}

.navbar-toggle {
	margin-left: -60px;
}

/* ===================================== */
.milieu {
	padding: 10px;
}

#contenu {
	padding-bottom: 10px;
}


.page {
	padding-bottom: 20px;
}

.pull-right+.pull-right {
	margin-right: 5px;
}

header {
	background: url('../img/banner.png') no-repeat center;
	background-size: cover;
	height: 120px;
	padding: 10px;
}

.logo {
	height: 92px;
	width: auto;
	margin-right: 1px;
}

.logo_footer_ministere {
	width: 100px;
	height: auto;
	margin-right: 1px;
}

.nomministere {
	margin-left: 10px;
	text-align: left;
	Font-size: 0.8em;
	vertical-align: middle;
	line-height: normal;
	display: inline-block;
	padding-top:21px;
}

.haut {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	font-size: 1.2em;
}

.haut h1 {
	margin-top: 10px;
}

.accessibilite {
	position: absolute;
	top: 16px;
	right: 16px;
}

.inline_access li {
	float: left;
	margin-left: 10px;
}

#BtnSHPanel {
	display: block;
	position: relative;
	margin-bottom: -34px;
	right: 20px;
	border-top-left-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 3px;
	border-right-style: none;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	/*  padding: 6px; */
}

.block {
	padding: 1px 10px 0px 10px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: white;
}

.panel-menu {
	border: solid 1px #ddd;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#gauche .panel {
	/* not the best patch */
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -2px;
	margin-bottom: 0;
}

#gauche .nav li a {
	/* change in Less */
	line-height: 1em;
	border-radius: 0px;
}

#gauche .nav-pills>li>a {
	border-radius: 0px;
}

/* pour styler les onglets boutons : à revoir */
.nav-pills.onglets .btn, .liste.onglets .btn {
	/*border-bottom: 2px solid #337AB7;*/
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.nav-pills.onglets>li>a {
	padding-bottom: 0px;
}

.nav-pills.onglets>li+li {
	margin-left: 0px;
}

.tab-content.onglet {
	border: 2px solid #7AA8D0;
	padding: 10px;
}

.tab-content.onglet-nav-tab {
	border: 1px solid #E0E0E0;
	border-top: none;
	padding: 10px;
	margin-bottom: 10px;
}

.tab-content.onglet-nav-pills {
	border: 1px solid #E0E0E0;
	padding: 10px;
	margin-bottom: 10px;
}

footer {
	background-color: #C0C0C0;
	color: white;
	text-align: center;
	padding: 40px;
	margin-top: 20px;
}

.pied_logo {
	padding-top: 20px;
}

#top-link-block {
	position: relative; /* allows it to "slide" up into view */
	text-align: right;
	margin-top: 20px;
}

/* Permettre aux champs éditable de couvrir l'intégralité d'une case dans un tableau */
td .form-group {
	width: 100%;
}

td div.form-group input.form-control {
	width: 100%;
}

td div.form-group select.form-control {
	width: 100%;
}

/* Rendering nav-bar quick fixes for small devices */
.navbar-brand {
	white-space: nowrap;
}

.navbar-toggle {
	margin-left: -60px;
}

/* ajout d'un cadre pour mieux visualiser le menu "hover" (cf. paypal bootstrap accessibility plugin) */
.nav>li>a:hover, .nav>li>a:focus {
	outline: 1px dotted #000;
}

.panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';
	/* essential for enabling glyphicon */
	content: "\e114"; /* adjust as needed, taken from bootstrap.css */
	float: right; /* adjust as needed */
	color: grey; /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

#gauche .accordion-toggle h3 {
	display: inline;
}

a.accordion-toggle {
	display: block;
}

a.btn+a.btn {
	margin-left: 5px;
}

/*sticky header position*/
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

#logo-sticky-menu {
	display:none;
}
.is-sticky #logo-sticky-menu {
	display:block;
	height: 40px;
	margin-right: 10px;
}
.nav-item.nav-nom-app {
	margin-right: 20px;
}

[aria-expanded="true"] .fa-chevron-down {
	display: none;
}

[aria-expanded="false"] .fa-chevron-down {
	display: inline;
}

[aria-expanded="true"] .fa-chevron-up {
	display: inline;
}

[aria-expanded="false"] .fa-chevron-up {
	display: none;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .75rem;
    line-height  : .5;
    border-radius : .2rem;
}

.custom-file-label.custom-export::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content : "\f093";
}

.custom-file-label.custom-import::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content : "\f019";
}

#ariane {
	display:inline;
}

.custom-file-input:lang(fr) ~ .custom-file-label::after {
  content: "Parcourir";
}
