/* You can add global styles to this file, and also import other style files */
header {
  background: url('../img/banner_jmp_3_propre.png') no-repeat center;
  background-size: contain;
}

.label-required:after {
  font-family: 'Font Awesome 5 Free' !important;
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f069";
  margin-left: 5px;
  font-size: 50%;
  color:red;
  vertical-align:super;
}

.nomministere {
  text-shadow: -2px 0 rgba(255,255,255,1), 0 2px rgba(255,255,255,1), 2px 0 rgba(255,255,255,1), 0 -2px rgba(255,255,255,1);
}

.custom-autocomplete {
  line-height: 1;
  height: 27px;
  vertical-align: -webkit-baseline-middle;
}

.custom-input-autocomplete {
  font-size: 11px !important;
}

.custom-autocomplete .ui-button {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #989898;
}
.custom-autocomplete .ui-button:enabled:hover {
  background-color: #989898;
  color: #ffffff;
  border-color: #989898;
}
