<footer>
  <h2 class="sr-only">Navigation transverse</h2>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h4>Ministère de la Transition Écologique et Solidaire</h4>
      <ul class="list-inline mt-3">
        <li class="list-inline-item">
          <a routerLink="/pied/mentions-legales/">Mentions légales</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.service-public.fr/P10000" target="_blank">Accessibilité</a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/pied/contact/">Contacts</a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/pied/nous-contacter/">Nous contacter</a>
        </li>
      </ul>
      <ul class="list-inline mt-3">
        <li class="list-inline-item">
          {{ getVersionApplication() }}
          -
          {{ getDateBuild() }}</li>
        <li class="list-inline-item">
          - Application FACE
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6">
      <h4>Accès rapide</h4>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <ul class="list-unstyled">
            <li>
                <a href="http://extranet.face.developpement-durable.gouv.fr/" target="_blank">Extranet FACÉ</a>
            </li>
            <li>
                <a href="https://www.ecologique-solidaire.gouv.fr" target="_blank">Ministère de la Transition Écologique et Solidaire</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="pied_logo">
    <h3>Les partenaires</h3>
    <hr>
    <a href="http://www.cohesion-territoires.gouv.fr/" title="Nouvel onglet : Ministère du Logement, de l'Égalité des Territoires et de la Ruralité"
      target="_blank">
      <img class="logo_footer_ministere" [src]="bloc_ministere_1" alt="Logo MLETR" />
    </a>
    <a href="https://www.ecologique-solidaire.gouv.fr" title="Nouvel onglet : Ministère de la Transition Écologique et Solidaire"
      target="_blank">
      <img class="logo_footer_ministere" [src]="bloc_ministere_2" alt="Logo MTES" />
    </a>
  </div>
  <!-- /.pied_logo -->
</footer>
