<p-tabView *ngIf="isMfer">
    <p-tabPanel header="Programme 793 - Principal" cache="false">
      <ng-template pTemplate="content">
        <app-gestion-aode-defaut-programme [codeProgramme]="793"></app-gestion-aode-defaut-programme>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Programme 794 - Spécial" cache="false">
      <ng-template pTemplate="content">
        <app-gestion-aode-defaut-programme [codeProgramme]="794"></app-gestion-aode-defaut-programme>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
