<div class="p-grid mb-4">
  <div class="table-responsive">
    <p-table exportFilename={{getDynamicDownloadName()}} #etatRenoncements [value]="dotationEtatRenonciationsPertesDto" [autoLayout]="true"
     sortField="departementCode" [sortOrder]="1" sortMode="single" (onSort)="onSort()" dataKey="departementCode"
     [columns]="cols" [totalRecords]="nbTotalResultats" [responsive]="true">
     <ng-template pTemplate="caption">
      <div class="d-flex justify-content-start">
          <button label="Télécharger en format CSV" type="button" pButton icon="pi pi-file-o"
          (click)="etatRenoncements.exportCSV()"
          class="p-mr-2" pTooltip="CSV" ng="bottom"></button>
        </div>
    </ng-template>
        <ng-template pTemplate="header" let-columns>
        <tr>
            <th [style]="col.style" *ngFor="let col of columns">
                {{col.header}}
            </th>
          </tr>
          </ng-template>
          <ng-template *ngIf="estMfer()" pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex" let-expanded="expanded">
              <tr *ngIf="rowGroupMetadata[rowData.departementCode].index  === rowIndex">
                  <td colspan="6">
                      <button type="button" pButton pRipple [pRowToggler]="rowData" class="p-button-text p-button-rounded p-button-plain p-mr-2"
                       [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                       <span class="font-weight-bold ml-2">{{rowData.departementCode}} - {{rowData.departementNom}}</span>
                  </td>
              </tr>
          </ng-template>
         <ng-template *ngIf="estMfer()" pTemplate="rowexpansion" let-rowData let-columns="columns">
          <tr>
              <td *ngFor="let col of columns">
                <div *ngIf="col.field === 'montant'">
                  {{rowData[col.field] | montantEuros}}
                </div>
                <div *ngIf="col.field !== 'montant'">
                  {{rowData[col.field]}}
                </div>
              </td>
          </tr>
        </ng-template>
        <ng-template *ngIf="!estMfer()" pTemplate="body" let-rowData let-columns="columns">
          <tr>
              <td *ngFor="let col of columns">
                <div *ngIf="col.field === 'montant'">
                  {{rowData[col.field] | montantEuros}}
                </div>
                <div *ngIf="col.field !== 'montant'">
                  {{rowData[col.field]}}
                </div>
              </td>
          </tr>
        </ng-template>
      </p-table>
  </div>
</div>
