a:hover {
    background-color: rgb(127, 178, 217);
    color: white;
  }

a:focus {
background-color: #007BD9;
color: white;
}
th {
  background-color: #6c757d !important;
  color: white !important;
}
