<p-table [value]="[{}]">
  <ng-template pTemplate="header">
          <tr>
              <th></th>
              <th class="text-center">Subvention</th>
              <th class="text-center">Paiement</th>
          </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
      <tr>
          <td class="text-center">A demander</td>
          <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('gene_sub_a_dem')">{{tdbDto.nbAdemanderSubvention}}</a></td>
          <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('gene_pai_a_dem')">{{tdbDto.nbAdemanderPaiement}}</a></td>
      </tr>
      <tr>
          <td class="text-center">Reste à demander</td>
          <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('gene_sub_a_comp')">{{tdbDto.nbAcompleterSubvention}}</a></td>
          <td></td>
      </tr>
      <tr>
          <td class="text-center">A corriger</td>
          <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('gene_sub_a_corr')">{{tdbDto.nbAcorrigerSubvention}}</a></td>
          <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('gene_pai_a_corr')">{{tdbDto.nbAcorrigerPaiement}}</a></td>
      </tr>
      <tr>
          <td class="text-center">A commencer</td>
          <td></td>
          <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('gene_pai_a_comm')">{{tdbDto.nbAcommencerPaiement}}</a></td>
      </tr>
      <tr>
          <td class="text-center">A solder</td>
          <td></td>
          <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('gene_pai_a_sold')">{{tdbDto.nbAsolderPaiement}}</a></td>
      </tr>
  </ng-template>
</p-table>

<br/>
<p-panel header="Liste des dotations" [toggleable]="true" [style]="{'margin-bottom':'20px'}"
  *ngIf="composantFils === 'tdbListeDotationsCollectivite'" class="scroll">
  <app-tdb-liste-dotations-collectivite [caseTdb]="caseTdb"></app-tdb-liste-dotations-collectivite>
</p-panel>
<p-panel header="Liste des dossiers" [toggleable]="true" [style]="{'margin-bottom':'20px'}"
  *ngIf="composantFils === 'tdbListeDossiersSubvention'" class="scroll">
  <app-tdb-liste-dossiers-subvention [caseTdb]="caseTdb"></app-tdb-liste-dossiers-subvention>
</p-panel>
<p-panel header="Liste des demandes de subvention" [toggleable]="true" [style]="{'margin-bottom':'20px'}"
  *ngIf="composantFils === 'tdbListeDemandesSubvention'" class="scroll">
  <app-tdb-liste-demandes-subvention [caseTdb]="caseTdb"></app-tdb-liste-demandes-subvention>
</p-panel>
<p-panel header="Liste des demandes de paiement" [toggleable]="true" [style]="{'margin-bottom':'20px'}"
  *ngIf="composantFils === 'tdbListeDemandesPaiement'" class="scroll">
  <app-tdb-liste-demandes-paiement [caseTdb]="caseTdb"></app-tdb-liste-demandes-paiement>
</p-panel>
