<form [formGroup]="adresseForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-3 ui-md-3">Qualité</div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText formControlName="qualiteDestinataire" type="text">
    </div>
    <div class="ui-g-3 ui-md-3">Civilité </div>
    <div class="ui-g-9 ui-md-9">
      <p-dropdown [options]="civilites" formControlName="civilite" placeholder="..." [style]="{'width':'100%'}">
        <ng-template let-item pTemplate="selectedItem">
          {{item.label}}
        </ng-template>
      </p-dropdown>
    </div>
    <div class="ui-g-3 ui-md-3 label-required">Nom</div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText styleClass="ng-invalid" type="text" formControlName="nom">
    </div>
    <div class="ui-g-3 ui-md-3">Prénom </div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText type="text" formControlName="prenom">
    </div>
    <div class="ui-g-3 ui-md-3">N° de voie</div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText type="text" formControlName="numeroVoie">
    </div>
    <div class="ui-g-3 ui-md-3 label-required">Nom de Voie </div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText styleClass="ng-invalid" type="text" formControlName="nomVoie">
    </div>
    <div class="ui-g-3 ui-md-3">Complément</div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText type="text" formControlName="complement">
    </div>
    <div class="ui-g-3 ui-md-3 label-required">Code Postal </div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText styleClass="ng-invalid" type="text" formControlName="codePostal">
    </div>
    <div class="ui-g-3 ui-md-3 label-required">Commune</div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText styleClass="ng-invalid" type="text" formControlName="commune">
    </div>
  </div>
</form>
