<p-table [value]="[{}]">
    <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th class="text-center">Subvention</th>
                <th class="text-center">Paiement</th>
            </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td class="text-center">A contrôler</td>
            <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('sd7_sub_a_cont')">{{tdbDto.nbAcontrolerSubvention}}</a></td>
            <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('sd7_pai_a_cont')">{{tdbDto.nbAcontrolerPaiement}}</a></td>
        </tr>
        <tr *ngIf="admin">
            <td class="text-center">A transférer</td>
            <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('sd7_sub_a_tran')">{{tdbDto.nbAtransfererSubvention}}</a></td>
            <td class="text-center"><a class="btn w-100" type="button" (click)="choisirListe('sd7_pai_a_tran')">{{tdbDto.nbAtransfererPaiement}}</a></td>
        </tr>
    </ng-template>
</p-table>

<br/>
<p-panel header="Liste des demandes de subvention" [toggleable]="true" [style]="{'margin-bottom':'20px'}"
  *ngIf="composantFils === 'tdbListeDemandesSubvention'" class="scroll">
  <app-tdb-liste-demandes-subvention [caseTdb]="caseTdb"></app-tdb-liste-demandes-subvention>
</p-panel>
<p-panel header="Liste des demandes de paiement" [toggleable]="true" [style]="{'margin-bottom':'20px'}"
  *ngIf="composantFils === 'tdbListeDemandesPaiement'" class="scroll">
  <app-tdb-liste-demandes-paiement [caseTdb]="caseTdb"></app-tdb-liste-demandes-paiement>
</p-panel>
