<p-panel styleClass="mb-4 mt-2" [formGroup]="collectiviteForm">
  <p-header>
    Informations générales
  </p-header>

  <div class="ui-g ui-fluid">
    <div class="ui-g-3 ui-md-3">Département </div>
    <div class="ui-g-9 ui-md-9">
      {{this.collectiviteForm.get('departement').value}}
    </div>
    <div class="ui-g-3 ui-md-3 label-required">Nom </div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText styleClass="ng-invalid"  type="text" formControlName="nomLong">
    </div>
    <div class="ui-g-3 ui-md-3 label-required">Nom Court </div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText styleClass="ng-invalid"  formControlName="nomCourt" type="text">
    </div>
    <div class="ui-g-3 ui-md-3 label-required">N° de SIREN</div>
    <div class="ui-g-9 ui-md-9">
      <p-inputMask styleClass="ng-invalid" unmask="true" formControlName="numCollectivite" mask="999 999 999" slotChar=" "></p-inputMask>
    </div>
    <div class="ui-g-3 ui-md-3 label-required">N° de SIRET</div>
    <div class="ui-g-9 ui-md-9">
      <p-inputMask styleClass="ng-invalid" unmask="true" formControlName="siret" mask="999 999 999 99999" slotChar=" "></p-inputMask>
    </div>
    <div class="ui-g-3 ui-md-3">État</div>
    <div class="ui-g-9 ui-md-9">
      <div class="ui-inputgroup">
        {{this.collectiviteForm.get('etatCollectivite').value | ajoutAccentEtatCollectivite}}
      </div>
    </div>
  </div>

</p-panel>
