<div
  class="d-flex justify-content-end"
  style="padding-bottom: 1em"
  *ngIf="btnAjouterAnomalie && btnAjouterAnomalie.editable"
>
  <button
    type="button"
    pButton
    icon="fas fa-plus"
    (click)="afficherModal()"
    label="Ajouter une anomalie"
    title="Ajouter anomalie"
  ></button>
</div>

<p-table [value]="anomalies" dataKey="id" editMode="row">
  <!-- header -->
  <ng-template pTemplate="header">
    <tr class="text-center">
      <th >Date de création</th>
      <th>Type d'anomalie</th>
      <th>Problématique</th>
      <th>Réponse</th>
      <th class="col-action">Actions</th>
    </tr>
  </ng-template>
  <!-- contenu -->
  <ng-template
    pTemplate="body"
    let-anomalie
    let-editing="editing"
    let-ri="rowIndex"
  >
    <tr [pEditableRow]="anomalie">
      <td [ngStyle]="{color: definirStyleSelonAnomalie(anomalie)}">
        {{ anomalie.dateCreation }}
      </td>
      <td [ngStyle]="{color: definirStyleSelonAnomalie(anomalie)}">
        {{ anomalie.libelleTypeAnomalie }}
      </td>
      <td [ngStyle]="{color: definirStyleSelonAnomalie(anomalie)}">
        {{ anomalie.problematique }}
      </td>
      <td [ngStyle]="{color: definirStyleSelonAnomalie(anomalie)}">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <textarea
              pInputTextarea
              [(ngModel)]="anomalie.reponse"
              required
              style="width: 100%"
            ></textarea>
          </ng-template>
          <ng-template pTemplate="output">
            {{ anomalie.reponse }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="text-align:center" [ngStyle]="{color: definirStyleSelonAnomalie(anomalie)}">
        <button
          *ngIf="!editing && reponseAnomalie.visible && !anomalie.corrigee"
          pButton
          type="button"
          pInitEditableRow
          title="Répondre"
          icon="fas fa-pen"
          class="ui-button-info"
          (click)="onRowEditInit(anomalie)"
        ></button>
        <button
          *ngIf="editing"
          pButton
          type="button"
          pCancelEditableRow
          title="Annuler"
          icon="fas fa-chevron-left"
          class="ui-button-secondary"
          (click)="onRowEditCancel(anomalie, ri)"
        ></button>

        <button
          *ngIf="editing"
          pButton
          type="button"
          pSaveEditableRow
          title="Enregistrer"
          icon="fas fa-save"
          class="ui-button-info"
          style="margin-right: .5em"
          (click)="onRowEditSave(anomalie)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <!-- message : aucun résultat -->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="5">
        Aucune donnée disponible dans le tableau
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Modal de Création d'une collectivité -->
<p-dialog
  header="Ajout d'une anomalie"
  [(visible)]="affichageModalCreationAnomalie"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '782px', minWidth: '400px' }"
  showEffect="fade"
>
  <app-ajout-anomalie
    (updateCallback)="updateListe(); this.updateCallback.emit();"
    [displayed]="affichageModalCreationAnomalie"
  ></app-ajout-anomalie>
</p-dialog>
