tr>th {
  background-color: #6c757d !important;
  color: white !important;
}
.col-etat{
  width: 10%
}
.col-date{
  width: 30%
}
.col-montant{
  width: 30%
}
.col-type{
  width: 20%
}
.col-action{
  width: 10%
}
