<p-table [value]="listeDemandeSubvention$ | async">
  <!-- header -->
  <ng-template pTemplate="header">
    <tr style="text-align:center">
      <th class="col-etat">État</th>
      <th class="col-date">Date</th>
      <th class="col-montant">Plafond d'aide</th>
      <th class="col-type">Type</th>
      <th class="col-action">Action</th>
    </tr>
  </ng-template>
  <!-- body/contenu -->
  <ng-template pTemplate="body" let-demande>
    <tr>
      <td>
          <i class="{{getClassIcone(demande)}}" pTooltip="{{getLibelleEtatDemande(demande)}}" tooltipPosition="top"></i>
      </td>
      <td>{{demande.dateDemande}}</td>
      <td>{{demande.plafondAide | montantEuros}}</td>
      <td>{{demande.typeDemande}}</td>
      <td style="text-align: center">
        <a routerLink="/subvention/demande/{{demande.id}}">
          <button pButton type="button" icon="fas fa-paste" class="ui-button-primary"></button>
        </a>
      </td>
    </tr>
  </ng-template>
  <!-- message : aucun résultat -->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="5">
        Aucune donnée disponible dans le tableau
      </td>
    </tr>
  </ng-template>
</p-table>
