<form [formGroup]="criteresForm">

  <!-- aucune action lors de [Entrée] sur le formulaire -->
  <button pButton type="submit" style="display: none"></button>

  <div class="ui-g ui-fluid">

    <!-- numDossier -->
    <div class="ui-g-2 ui-md-2">Numéro dossier</div>
    <div class="ui-g-10 ui-md-10">
      <input pInputText type="text" formControlName="numDossier" maxlength="50">
    </div>

    <!-- anneeProgrammationDossier -->
    <div class="ui-g-2 ui-md-2">Année de programmation</div>
    <div class="ui-g-10 ui-md-10">
      <input pInputText type="number" formControlName="anneeProgrammationDossier" maxlength="4">
      <p-message severity="error" text="L'année doit se composer de 4 chiffres"
        *ngIf="criteresForm.controls['anneeProgrammationDossier'].errors && criteresForm.controls['anneeProgrammationDossier'].errors.pattern">
      </p-message>
    </div>

    <!-- SousProgramme -->
    <div class="ui-g-2 ui-md-2">Sous-programme</div>
    <div class="ui-g-10 ui-md-10">
      <p-dropdown [options]="sousProgrammes" formControlName="selectionSousProgramme"
        [filter]="true" placeholder="..." optionLabel="description" [showClear]="true"></p-dropdown>
    </div>

     <!-- EtatDemande -->
     <div class="ui-g-2 ui-md-2">Etat de la demande de subvention</div>
     <div class="ui-g-10 ui-md-10">
       <p-dropdown [options]="etatsDemande" formControlName="selectionEtatDemande"
         placeholder="..." optionLabel="libelle" [showClear]="true"></p-dropdown>
     </div>

    <!-- Collectivite -->
    <div class="ui-g-2 ui-md-2" *ngIf="!isUserUniquementGenerique">Collectivité</div>
    <div class="ui-g-10 ui-md-10" *ngIf="!isUserUniquementGenerique">
      <p-dropdown [options]="collectivites" formControlName="selectionCollectivite"
        [filter]="true" placeholder="..." optionLabel="nomCourt" [showClear]="true"></p-dropdown>
    </div>

    <!-- Département -->
    <div class="ui-g-2 ui-md-2" *ngIf="!isUserUniquementGenerique">Département</div>
    <div class="ui-g-10 ui-md-10" *ngIf="!isUserUniquementGenerique">
      <p-dropdown [options]="departements" formControlName="selectionDepartement"
      [filter]="true" placeholder="..." optionLabel="codeEtNom" [showClear]="true"></p-dropdown>
    </div>

  </div>

  <!-- boutons annuler/enregistrer -->
  <div style="text-align: right;">
    <br />
    <button pButton icon="fas fa-chevron-left" class="ui-button-secondary" label="Annuler" (click)="annuler()"></button>
    &nbsp;
    <button pButton type="submit" icon="fas fa-search" label="Rechercher" (click)="rechercherDossiers()"></button>
  </div>

</form>

<br/>
<br/>
<p-panel header="Liste des dossiers" [toggleable]="true" styleClass="mb-4" *ngIf="resultatRechercheDossierDtos" class="scroll">
  <div class="p-grid">
    <p-table [value]="resultatRechercheDossierDtos" [lazy]="true" (onLazyLoad)="loadDossiersLazy($event)" [paginator]="true"
    [rows]="pageSize" [totalRecords]="nbTotalResultats" [responsive]="true">
      <ng-template pTemplate="header" let-columns>
          <tr style="text-align:center">
              <th>Date de création</th>
              <th>Collectivité</th>
              <th>N° de dossier</th>
              <th>N° d'EJ</th>
              <th>Montant d'aide demandé</th>
              <th>Montant d'aide attribué</th>
              <th class="col-action">Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dossierDto>
          <tr>
              <td>{{dossierDto.dateCreationDossier}}</td>
              <td>{{dossierDto.nomCourtCollectivite}}</td>
              <td>{{dossierDto.numDossier}}</td>
              <td *ngIf="dossierDto.numEJ != null">{{dossierDto.numEJ}}</td>
              <td *ngIf="dossierDto.numEJ == null">En attente</td>
              <td>{{dossierDto.plafondAideSansRefus | montantEuros}}</td>
              <td>{{dossierDto.plafondAide | montantEuros}}</td>
              <td style="text-align: center">
                  <a routerLink="/subvention/dossier/{{dossierDto.idDossier}}">
                    <button pButton type="button" icon="pi pi-eye" class="ui-button-primary mr-2"></button>
                  </a>
              </td>
          </tr>
      </ng-template>
      </p-table>
  </div>
</p-panel>
