<h3>Contact</h3>
<p>
  Pour contacter le webmestre, cliquez sur <a routerLink="/pied/nous-contacter/">Nous contacter</a>.
</p>
<h3>Propriété intellectuelle</h3>
<p>
  Les contenus présentés dans l'application FACE sont soumis à la législation relative au droit des informations publiques et sont couverts par le droit d'auteur. Toute réutilisation de l'ensemble des contenus est conditionnée à l'accord de l'auteur.
Conformément au droit public de la propriété intellectuelle et notamment selon l'article L122-5 du Code de la propriété intellectuelle, les 'documents officiels' sont librement réutilisables :
</p>
<ul>
  <li>
    les discours, les dossiers de presse et les communiqués
  </li>
  <li>
    les circulaires, directives et autres documents réglementaires
  </li>
  <li>
    les formulaires CERFA
  </li>
</ul>
<p>
La réutilisation non commerciale, et notamment pédagogique, est autorisée à la condition de respecter l'intégrité des informations et de n'en altérer ni le sens, ni la portée, ni l'application et d'en préciser l'origine et la date de publication.
Les informations ne peuvent être utilisées à des fins commerciales ou promotionnelles sans l'autorisation expresse et l'obtention d'une licence de réutilisation des informations publiques. Est considérée comme réutilisation à des fins commerciales ou promotionnelles, l'élaboration à partir des informations publiques, d'un produit ou d'un service destiné à être mis à disposition de tiers, à titre gratuit ou onéreux.
L'utilisation des marques déposées utilisées sur ce site sur tout autre support ou réseau est interdite.
</p>
<h3>Liens hypertextes</h3>
<p>
  Tout site public ou privé est autorisé à établir, sans autorisation préalable, un lien vers les informations diffusées par le ministère. En revanche, les pages du site www.ecologique-solidaire.gouv.fr ne doivent pas être imbriquées à l'intérieur des pages d'un autre site.
L'autorisation de mise en place d'un lien est valable pour tout support, à l'exception de ceux diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure porter atteinte à la sensibilité du plus grand nombre.
</p>
<h3>
  Responsabilité du ministère
</h3>
<p>
  Les informations proposées sur ce site le sont au titre de service rendu au public. Malgré tout le soin apporté à l'actualisation des textes officiels et à la vérification des contenus, les documents mis en ligne ne sauraient engager la responsabilité du ministère de la transition écologique et solidaire.
Les informations et/ou documents disponibles sur ce site sont susceptibles d'être modifiés à tout moment, et peuvent faire l'objet de mises à jour.
Le ministère de la transition écologique et solidaire ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu'il soit résultant de l'interprétation ou de l'utilisation des informations et/ou documents disponibles sur ce site.
</p>
<h3>
  Données personnelles
</h3>
<p>
Lorsque des données présentes sur ce site ont un caractère nominatif, les utilisateurs doivent en faire un usage conforme aux réglementations en vigueur et aux recommandations de la Commission nationale de l'informatique et des libertés (CNIL).
Conformément à la loi Informatique et Liberté 78-17 du 6 janvier 1978 modifiée, vous disposez d'un droit d'opposition (art. 38), d'accès (art. 39), de rectification ou de suppression (art. 40) des données qui vous concernent. Vous pouvez exercer ce droit en vous adressant au  ministère de la transition écologique et solidaire.
Ce droit s'exerce, en justifiant de son identité :
</p>
<ul>
  <li>
    par voie postale : ministère de la transition écologique et solidaire, Direction de l'Information et de la Communication Tour Pascal A - 92055 La Défense CEDEX
  </li>
  <li>
    par courrier électronique
  </li>
</ul>
<p>
  Toutes les données personnelles qui sont recueillies sont traitées avec la plus stricte confidentialité. En particulier, le ministère de la transition écologique et solidaire s'engage à respecter la confidentialité des messages e-mails transmis au moyen d'une messagerie électronique.
</p>
<h3>
  Disponibilité du site
</h3>
<p>
  L'éditeur s'efforce de permettre l'accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d'un événement hors du contrôle du ministère de la transition écologique et solidaire, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.
Par conséquent, le ministère de la transition écologique et solidaire ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en terme de temps de réponse ou de qualité.
La responsabilité de l'éditeur ne saurait être engagée en cas d'impossibilité d'accès à ce site et/ou d'utilisation des services.
Le ministère de la transition écologique et solidaire peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités. L'utilisateur reconnaît et accepte que le ministère de la transition écologique et solidaire ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l'utilisateur ou tout tiers.
</p>
<h3>
  Droit applicable
</h3>
<p>
  Quel que soit le lieu d'utilisation, le présent site est régi par le droit français. En cas de contestation éventuelle, et après l'échec de toute tentative de recherche d'une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.
Pour toute question relative aux présentes conditions d'utilisation du site, vous pouvez nous écrire à l'aide du formulaire de contact.
</p>
<h3>
  Modifications des conditions générales d'utilisation
</h3>
<p>
  Le ministère de la transition écologique et solidaire se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d'utilisation afin de les adapter aux évolutions du site et/ou de son exploitation.
</p>
