<app-dotation-renonciation-perte-programme [codeProgramme]="793" *ngIf="estMfer()"></app-dotation-renonciation-perte-programme>

<app-dotation-renonciation-perte-programme [codeProgramme]="" *ngIf="isAgent()"></app-dotation-renonciation-perte-programme>

