<p-table
  [value]="dotations"
  sortField="dotations?dateEnvoiFormate:"
  sortMode="dotations?single:"
  sortOrder="-1"
  (onSort)="onSort()"
>
  <ng-template pTemplate="header">
    <tr class="text-center">
      <th>Date de notification</th>
      <th>Type</th>
      <th>Sous Programme</th>
      <th>Montant</th>
      <th>Somme</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr>
      <td
        *ngIf="rowGroupMetadata[rowData.dateEnvoi].index === rowIndex"
        [attr.rowspan]="rowGroupMetadata[rowData.dateEnvoi].size"
      >
        {{ rowData.dateEnvoiFormate | date: "dd/MM/yyyy" }}
      </td>
      <td>{{ rowData.typeDotationDepartement }}</td>
      <td pTooltip="{{ rowData.sousProgramme.name }}">
        {{ rowData.sousProgramme.code }}
      </td>
      <td>{{ rowData.montant | montantEuros }}</td>
      <td
        *ngIf="rowGroupMetadata[getIndexSomme(rowData)].index === rowIndex"
        [attr.rowspan]="rowGroupMetadata[getIndexSomme(rowData)].size"
      >
        {{ rowGroupMetadata[getIndexSomme(rowData)].somme | montantEuros }}
      </td>
      <td
        style="text-align: center"
        *ngIf="rowGroupMetadata[rowData.dateEnvoi].index === rowIndex"
        [attr.rowspan]="rowGroupMetadata[rowData.dateEnvoi].size"
      >
        <button
          pButton
          type="button"
          icon="fas fa-download"
          label="Télécharger"
          title="Télécharger le courrier de notification"
          (click)="telechargerDocument(rowData)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <!-- message : aucun résultat -->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="6">
        Aucune donnée disponible dans le tableau
      </td>
    </tr>
  </ng-template>
</p-table>
