<lay-entete></lay-entete>

<h2 class="sr-only">Navigation principale</h2>
<lay-menu-principal></lay-menu-principal>

<div class="container page">
  <div class="row" id="main-content">
    <div id="container-messages" class="col-xs-12 col-lg-12">
      <!-- Messages -->
      <lay-messages key="standard"></lay-messages>
    </div>
    <div id="milieu" class="col-xs-12 col-lg-12">
      <div class="card border-secondary" id="contenu">
        <a id="accescontenu"></a>
        <div class="card-body">
          <h2 class="card-title">
            {{ titre_page$ | async }}
          </h2>
        </div>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
      <!-- /#contenu -->
    </div>
    <!-- /#milieu -->
    <div id="container-messages" class="col-xs-12 col-lg-12">
      <!-- Messages -->
      <!-- <lay-messages></lay-messages> -->
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

<lay-pied></lay-pied>
<!-- /footer -->
