<h3>{{demandePaiementData.codeDepartement}} - {{demandePaiementData.nomLongCollectivite}}</h3>
<p-button icon="pi pi-chevron-left" class="mb-2" styleClass="ui-button-secondary" label="Dossier" title="Retour au dossier" (onClick)="retour()"></p-button>
<div class="p-grid">
  <p-panel styleClass="bg-grey" header="Dossier" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <form [formGroup]="demandePaiementData.paiementFormCriteres">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
          <label class="ui-g-4">
            N° de dossier
          </label>
          <div class="ui-g-8 ui-md-8">
            {{demandePaiementData.paiementFormCriteres.get('numDossier').value }}
          </div>
        </div>
        <div class="ui-g-12 ui-md-12">
          <label class="ui-g-4">
            Aide disponible
          </label>
          <div class="ui-g-8 ui-md-8">
            {{demandePaiementData.paiementFormCriteres.get('resteConsommer').value | montantEuros}}
          </div>
        </div>
      </div>
    </form>
  </p-panel>
  <form [formGroup]="demandePaiementData.formulairePrincipal" *ngIf="demandePaiementData.affichageFormulairePrincipal">
    <p-tabView [style]="{'margin-bottom':'20px'}">
      <p-tabPanel header="Demande de paiement">
        <!-- ONGLET DEMANDE PAIEMENT-->
        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-md-12">
            <label class="ui-g-4 ui-md-4">Date de la demande</label>
            <div class="ui-g-8 ui-md-8">
              {{demandePaiementData.formulairePrincipal.get('dateDemande').value }}
            </div>
          </div>
          <div class="ui-g-12 ui-md-12" *ngIf="demandePaiementData.etatForm.typeDemande.visible">
            <label class="ui-g-4 label-required">Type</label>
            <div class="ui-g-8 ui-md-8">
              <p-dropdown [options]="demandePaiementData.listeMenuTypeDemande" inputId="2" optionLabel="libelle" formControlName="typeDemande" [showClear]="false" (onChange)="majTypeDemande($event)"></p-dropdown>
            </div>
          </div>


          <div [ngClass]="blockMontant" class="ui-g-12 ui-md-12" *ngIf="demandePaiementData.etatForm.montantTotalDemande.editable">
            <label class="ui-g-4 ui-md-4 label-required">Montant total des travaux réalisés</label>
            <div class="ui-g-8 ui-md-8">
              <input styleClass="ng-invalid" id="montant" type="number" [max]="maxActuel" [value]="demandePaiementData.montantTotalDemande" min="0" step="any" (keyup)="majCalculAideDemandee()" (onChange)="majCalculAideDemandee()" formControlName="montantTotalDemande" class="form-control">
            </div>
          </div>
          <div [ngClass]="blockMontant" class="ui-g-12 ui-md-12" *ngIf="demandePaiementData.etatForm.montantTravauxHt.editable">
            <label class="ui-g-4 ui-md-4 label-required">Montant des travaux considérés <i class="pi pi-info-circle" [escape]="false" tooltipPosition="right"
              pTooltip="Somme correspondant au montant total HT des travaux réalisés moins la somme totale des travaux déjà aidés.">
            </i></label>
            <div class="ui-g-8 ui-md-8">
              <div class="ui-g-8 ui-md-8">
                {{demandePaiementData.formulairePrincipal.get('montantTravauxHt').value | montantEuros}}
              </div>
              <input styleClass="ng-invalid" id="montant" type="hidden" [max]="maxActuel" min="0" step="any"  [value]="max(demandePaiementData.montantTotalDemande - demandePaiementData.montantTotalHtTravaux, 0)"
              formControlName="montantTravauxHt" class="form-control">
            </div>
          </div>
          <div [ngClass]="blockMontant" class="ui-g-12 ui-md-12" *ngIf="demandePaiementData.etatForm.montantTravauxHt.visible && !demandePaiementData.etatForm.montantTravauxHt.editable">
            <label class="ui-g-4 ui-md-4 label-required">Montant des travaux aidés</label>
            <div class="ui-g-8 ui-md-8">
                {{demandePaiementData.formulairePrincipal.get('montantTravauxHt').value | montantEuros}}
            </div>
          </div>

          <div [ngClass]="blockTaux" class="ui-g-12 ui-md-12 alignCalculBloc" *ngIf="demandePaiementData.etatForm.tauxAideFacePercent.visible && !demandePaiementData.etatForm.tauxAideAvance.visible">
            <label class="ui-g-4 ui-md-4 label-required">Taux de paiement en %</label>
            <div class="ui-g-8 ui-md-8">
              <input (change)="majCalculAideDemandee()" min="0" [max]="maxTauxFace" step="any" class="form-control" type="number"
              [value]="demandePaiementData.formulairePrincipal.get('tauxAideFacePercent').value" formControlName="tauxAideFacePercent"/>
            </div>
          </div>
          <div [ngClass]="blockTaux" class="ui-g-12 ui-md-12 alignCalculBloc" *ngIf="demandePaiementData.etatForm.tauxAideAvance.editable">
            <label class="ui-g-4 ui-md-4 label-required">Taux de subvention demandée en avance en %
              <i class="pi pi-info-circle" [escape]="false" tooltipPosition="right"
              pTooltip="Taux maximum de {{maxTauxAvanceFace}} %">
            </i></label>
            <div class="ui-g-8 ui-md-8">
              <input (change)="majCalculAideDemandee()" min="0" [max]="maxTauxAvanceFace" class="form-control" type="number"
              [value]="demandePaiementData.formulairePrincipal.get('tauxAideFacePercent').value" formControlName="tauxAideFacePercent"/>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12" *ngIf="demandePaiementData.etatForm.aideDemandee.visible">
            <label class="ui-g-4 ui-md-4">Aide demandée
              <i class="pi pi-info-circle" [escape]="false" tooltipPosition="right"
                pTooltip="Aide demandée = Montant HT des travaux réalisés x Taux de l'aide">
              </i>
            </label>
            <div class="ui-g-8 ui-md-8">
              {{demandePaiementData.formulairePrincipal.get('aideDemandee').value | montantEuros}}
            </div>
          </div>
          <div class="ui-g-12 ui-md-12" *ngIf="demandePaiementData.etatForm.certificatPaiement.visible">
            <label class="ui-g-4 ui-md-4 label-required">Certificat de paiement
              <i class="pi pi-info-circle" [escape]="false" tooltipPosition="right"
                pTooltip="Annexe 2 avec signature du maître d’œuvre et du maître d’ouvrage.">
              </i>
            </label>
            <div class="ui-g-8 ui-md-8">
                <app-custom-file-transfer
                (uploadCallback)="ajoutFichierUploader('CERTIFICAT_PAIEMENT_PDF', $event)" accept=".pdf"
                label="Téléverser au format pdf"
                [titleDl]="demandePaiementData.mapDocumentsName[9]"
                [affichageUpload]="demandePaiementData.etatForm.certificatPaiement.editable"
                [affichageDownload]="isDemandeExistante() && demandePaiementData.etatForm.certificatPaiement.visible"(downloadCallback)="telechargerDocumentPaiement('CERTIFICAT_PAIEMENT_PDF')"
                libelle = " Visualiser format PDF"></app-custom-file-transfer>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12" *ngIf="demandePaiementData.etatForm.etatMarchesPasses.visible">
            <label class="ui-g-4 ui-md-4 label-required">État des marchés passés
              <i class="pi pi-info-circle" [escape]="false" tooltipPosition="right"
                pTooltip="Annexe 3 avec signature du maître d’œuvre et du maître d’ouvrage.">
              </i>
            </label>
            <div class="ui-g-4 ui-md-4">
                <app-custom-file-transfer
                (uploadCallback)="ajoutFichierUploader('ETAT_MARCHES_PASSES_PDF', $event)" accept=".pdf"
                label="Téléverser au format pdf"
                [titleDl]="demandePaiementData.mapDocumentsName[0]"
                [affichageUpload]="demandePaiementData.etatForm.etatMarchesPasses.editable"
                [affichageDownload]="isDemandeExistante() && demandePaiementData.etatForm.etatMarchesPasses.visible" (downloadCallback)="telechargerDocumentPaiement('ETAT_MARCHES_PASSES_PDF')"
                libelle = " Visualiser format PDF"></app-custom-file-transfer>
            </div>
            <div class="ui-g-4 ui-md-4">
                <app-custom-file-transfer (uploadCallback)="ajoutFichierUploader('ETAT_MARCHES_PASSES_TABLEUR', $event)" accept=".ods,.xls,.xlsx"
                label="Téléverser au format xls" [titleDl]="demandePaiementData.mapDocumentsName[1]"
                [affichageUpload]="demandePaiementData.etatForm.etatMarchesPasses.editable"
                [affichageDownload]="isDemandeExistante() && demandePaiementData.etatForm.etatMarchesPasses.visible" (downloadCallback)="telechargerDocumentPaiement('ETAT_MARCHES_PASSES_TABLEUR')"
                libelle = " Visualiser format tableur"></app-custom-file-transfer>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12" *ngIf="demandePaiementData.etatForm.etatRealisationTravaux.visible">
            <label class="ui-g-4 ui-md-4 label-required">Bilan des travaux effectués
              <i class="pi pi-info-circle" [escape]="false" tooltipPosition="right"
                pTooltip="Avec signature du comptable public assignataire.">
              </i>
            </label>
            <div class="ui-g-4 ui-md-4">
                <app-custom-file-transfer (uploadCallback)="ajoutFichierUploader('ETAT_REALISATION_TRAVAUX_PDF', $event)" accept=".pdf"
                label="Téléverser au format pdf" [titleDl]="demandePaiementData.mapDocumentsName && demandePaiementData.mapDocumentsName[2]"
                [affichageUpload]="demandePaiementData.etatForm.etatRealisationTravaux.editable"
                [affichageDownload]="isDemandeExistante() && demandePaiementData.etatForm.etatRealisationTravaux.visible" (downloadCallback)="telechargerDocumentPaiement('ETAT_REALISATION_TRAVAUX_PDF')"
                libelle = " Visualiser format PDF"></app-custom-file-transfer>
            </div>
            <div class="ui-g-4 ui-md-4">
                <app-custom-file-transfer (uploadCallback)="ajoutFichierUploader('ETAT_REALISATION_TRAVAUX_TABLEUR', $event)" accept=".ods,.xls,.xlsx"
                label="Téléverser au format xls" [titleDl]="demandePaiementData.mapDocumentsName && demandePaiementData.mapDocumentsName[3]"
                [affichageUpload]="demandePaiementData.etatForm.etatRealisationTravaux.editable"
                [affichageDownload]="isDemandeExistante() && demandePaiementData.etatForm.etatRealisationTravaux.visible" (downloadCallback)="telechargerDocumentPaiement('ETAT_REALISATION_TRAVAUX_TABLEUR')"
                libelle = " Visualiser format tableur"></app-custom-file-transfer>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12" *ngIf="demandePaiementData.etatForm.etatAchevementFinancier.visible">
            <label class="ui-g-4 ui-md-4 label-required">État d'achèvement financier
              <i class="pi pi-info-circle" [escape]="false" tooltipPosition="right"
                pTooltip="Annexe 4 - État financier d'achèvement des travaux.">
              </i>
            </label>
            <div class="ui-g-4 ui-md-4">
                <app-custom-file-transfer (uploadCallback)="ajoutFichierUploader('ETAT_ACHEVEMENT_FINA_PDF', $event)" accept=".pdf"
                label="Téléverser au format pdf" [titleDl]="demandePaiementData.mapDocumentsName[4]"
                [affichageUpload]="demandePaiementData.etatForm.etatAchevementFinancier.editable"
                [affichageDownload]="isDemandeExistante() && demandePaiementData.etatForm.etatAchevementFinancier.visible" (downloadCallback)="telechargerDocumentPaiement('ETAT_ACHEVEMENT_FINA_PDF')"
                libelle = " Visualiser format PDF"></app-custom-file-transfer>
            </div>
            <div class="ui-g-4 ui-md-4">
                <app-custom-file-transfer (uploadCallback)="ajoutFichierUploader('ETAT_ACHEVEMENT_FINANCIER_TABLEUR', $event)" accept=".ods,.xls,.xlsx"
                label="Téléverser au format xls" [titleDl]="demandePaiementData.mapDocumentsName[5]"
                [affichageUpload]="demandePaiementData.etatForm.etatAchevementFinancier.editable"
                [affichageDownload]="isDemandeExistante() && demandePaiementData.etatForm.etatAchevementFinancier.visible" (downloadCallback)="telechargerDocumentPaiement('ETAT_ACHEVEMENT_FINANCIER_TABLEUR')"
                libelle = " Visualiser format tableur"></app-custom-file-transfer>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12" *ngIf="demandePaiementData.etatForm.etatAchevementTech.visible">
            <label class="ui-g-4 ui-md-4 label-required">État d'achèvement technique
              <i class="pi pi-info-circle" [escape]="false" tooltipPosition="right"
              pTooltip="Annexe 5 avec signature du maître d'œuvre, du maître d'ouvrage et du comptable public assignataire."></i>
            </label>
            <div class="ui-g-4 ui-md-4">
                <app-custom-file-transfer (uploadCallback)="ajoutFichierUploader('ETAT_ACHEVEMENT_TECH_PDF', $event)" accept=".pdf"
                label="Téléverser au format pdf" [titleDl]="demandePaiementData.mapDocumentsName[6]"
                [affichageUpload]="demandePaiementData.etatForm.etatAchevementTech.editable"
                [affichageDownload]="isDemandeExistante() && demandePaiementData.etatForm.etatAchevementTech.visible" (downloadCallback)="telechargerDocumentPaiement('ETAT_ACHEVEMENT_TECH_PDF')"
                libelle = " Visualiser format PDF"></app-custom-file-transfer>
            </div>
            <div class="ui-g-4 ui-md-4">
                <app-custom-file-transfer (uploadCallback)="ajoutFichierUploader('ETAT_ACHEVEMENT_TECHNIQUE_TABLEUR', $event)" accept=".ods,.xls,.xlsx"
                label="Téléverser au format xls" [titleDl]="demandePaiementData.mapDocumentsName[7]"
                [affichageUpload]="demandePaiementData.etatForm.etatAchevementTech.editable"
                [affichageDownload]="isDemandeExistante() && demandePaiementData.etatForm.etatAchevementTech.visible" (downloadCallback)="telechargerDocumentPaiement('ETAT_ACHEVEMENT_TECHNIQUE_TABLEUR')"
                libelle = " Visualiser format tableur"></app-custom-file-transfer>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12" *ngIf="demandePaiementData.etatForm.docsComplementaires.visible">
            <label class="ui-g-4 ui-md-4">Documents complémentaires</label>
            <div class="ui-g-8 ui-md-8">
              <p-table [value]="demandePaiementData.documentsSupplementaires">
                <!-- header -->
                <ng-template pTemplate="header">
                    <tr>
                        <th>Document</th>
                        <th class="col-action">Actions
                          <a class="btn btn-xs float-right">
                              <app-custom-file-transfer
                              [mode]="'button'"
                              (uploadCallback)="ajoutDocComplementaire($event)"
                              *ngIf="demandePaiementData.etatForm.docsComplementaires.editable && (demandePaiementData.documentsSupplementaires.length < 5)"></app-custom-file-transfer>
                          </a>
                        </th>
                    </tr>
                </ng-template>
                <!-- body -->
                <ng-template pTemplate="body" let-document let-index="rowIndex">
                    <tr>
                        <td>{{document.nomFichierSansExtension}}</td>
                        <td>
                          <button pButton type="button" icon="pi pi-download" class="ui-button-primary mr-2" (click)="telechargerDocumentComplementaire(index)"
                            titleDl="document.nomFichierSansExtension + '.' + document.extensionFichier" *ngIf="document.id"></button>
                          <button pButton type="button" icon="pi pi-trash" class="ui-button-danger" (click)="supprimerDocComplementaire(index)"
                            *ngIf="demandePaiementData.etatForm.docsComplementaires.editable"></button>
                            <div class="ml-2" style="display: inline;" *ngIf="showButton">
                              <button pButton icon="pi pi-external-link" (click)="showModal(index)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <!-- message : aucun résultat -->
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td [attr.colspan]="2">
                      Aucune donnée disponible dans le tableau
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <br/>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12" *ngIf='demandePaiementData.etatForm.message.visible'>
            <label class="ui-g-4 ui-md-4">Message</label>
            <div class="ui-g-8 ui-md-8">
              <textarea rows="5" cols="30" pInputTextarea formControlName="message"
                [readonly]="!demandePaiementData.etatForm.message.editable"></textarea>
            </div>
          </div>
          <div class="ui-g-12 ui-md-offset-9 ui-md-3">
            <p-button icon="pi pi-chevron-left" type="button" styleClass="ui-button-secondary" label="Annuler" title="Annuler" *ngIf="demandePaiementData.etatForm.annuler.visible" class="ml-2" (onClick)="reload()"></p-button>
            <p-button icon="pi pi-chevron-right" type="button" iconPos="right" styleClass="ui-button-primary" class="ml-2" label="Demander" title="Demander paiement" *ngIf="demandePaiementData.etatForm.demander.visible" (onClick)="envoyerDemandePaiement()" [disabled]="demandePaiementData.demanderRefuserDisabled || desactiverBoutonDemande"></p-button>
            <p-button icon="fa fa-save" type="button" iconPos="left" styleClass="ui-button-primary"  class="ml-2" label="Enregistrer" title="Enregistrer" *ngIf="demandePaiementData.etatForm.repondre.visible" (onClick)="majDemandePaiementPourCorrection()"></p-button>
          </div>
          <div style="width: 100%; text-align: center" *ngIf="desactiverBoutonDemande">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
          </div>
        </div>
      </p-tabPanel>

      <!-- ONGLET INSTRUCTION-->
      <p-tabPanel header="Instruction" *ngIf="afficherOngletInstruction()">
        <div class="d-flex justify-content-end">
          <p-button icon="fas fa-file-download" iconPos="left" styleClass="ui-button-primary" class="ml-2" 
          (onClick)="genererDecisionAttributive()"  label="Générer la décision de versement" 
          title="Générer la décision de versement au format pdf" 
          *ngIf="demandePaiementData.etatForm.genererDecisionAttributive.visible"></p-button>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-12">
              <label class="ui-g-4 ui-md-4">État</label>
              <div class="ui-g-8 ui-md-8">
                <label>{{demandePaiementData.libelleEtatDemande}}</label>
              </div>
            </div>
            <div class="ui-g-4 ui-md-12" *ngIf="demandePaiementData.etatForm.decisionAttributiveSignee.visible">
                <label class="ui-g-4 ui-md-4 label-required">Décision de versement signée</label>
                <div class="ui-g-8 ui-md-8">
                    <app-custom-file-transfer
                    (uploadCallback)="ajoutFichierUploader('DECISION_ATTRIBUTIVE_PAIE', $event)" accept=".pdf"
                    label="Téléverser au format pdf" [titleDl]="demandePaiementData.mapDocumentsName[8]"
                    [affichageUpload]="demandePaiementData.etatForm.decisionAttributiveSignee.editable"
                    [affichageDownload]="isDemandeExistante() && demandePaiementData.etatForm.decisionAttributiveSignee.visible"
                    (downloadCallback)="telechargerDocumentPaiement('DECISION_ATTRIBUTIVE_PAIE')"
                    libelle = " Visualiser format PDF"></app-custom-file-transfer>
                  </div>
            </div>
            <div class="ui-g-12 ui-md-12" *ngIf="demandePaiementData.etatForm.motifRefus.visible">
              <label class="ui-g-4 ui-md-4" *ngIf="!demandePaiementData.etatForm.motifRefus.editable">Motif de refus</label>
              
              <div class="ui-g-8 ui-md-8" *ngIf="!demandePaiementData.etatForm.motifRefus.editable">
                {{demandePaiementData.formulairePrincipal.get('motifRefus').value}}
              </div>
            </div>
            <p-dialog header="Motif refus" [(visible)]="displayRefusModal" [modal]="true" [style]="{width: '50vw', height: '50vw'}">
              <div class="ui-g-12 ui-md-12">
                  <textarea rows="2" class="form-control" formControlName="motifRefus"></textarea>     
                </div>
                <p-footer>
                  <p-button icon="fas fa-chevron-right" iconPos="right" styleClass="ui-button-primary ml-2"
                   label="Enregistrer" title="Enregistrer" (onClick)="majDemandePaiementRefusee()"></p-button>
                  <p-button icon="fas fa-times" iconPos="right" styleClass="ui-button-primary ml-2" label="Annuler" title="Annuler" (onClick)="displayRefusModal=false;"></p-button>
                </p-footer>
              
            </p-dialog>
          
            <div class="ui-g-12 ui-md-12">
              <div class="d-flex justify-content-end">
                <p-button icon="fas fa-exclamation-triangle" styleClass="ui-button-danger ml-2" label="Refuser" title="Refuser" *ngIf="demandePaiementData.etatForm.refuser.visible" (onClick)="displayRefusModal=true;"></p-button>
                &nbsp;
                <p-button icon="fas fa-chevron-right" iconPos="right" styleClass="ui-button-primary ml-2" label="Qualifier" title="Qualifier" *ngIf="demandePaiementData.etatForm.qualifier.visible" (onClick)="majDemandePaiementQualifiee()" [disabled]="contientAnomaliesPourQualification()"></p-button>
                &nbsp;
                <p-button icon="fas fa-chevron-right" iconPos="right" styleClass="ui-button-primary ml-2" label="Accorder" title="Accorder" *ngIf="demandePaiementData.etatForm.accorder.visible" (onClick)="majDemandePaiementAccordee()"></p-button>
                &nbsp;
                <p-button icon="fas fa-chevron-right" iconPos="right" styleClass="ui-button-primary ml-2" label="Contrôler" title="Contrôler" *ngIf="demandePaiementData.etatForm.controler.visible" (onClick)="majDemandePaiementControlee()"></p-button>
                <p-button icon="fas fa-chevron-right" iconPos="right" styleClass="ui-button-primary ml-2" label="Transférer" *ngIf="demandePaiementData.etatForm.transferer.visible" (onClick)="majDemandePaiementEnAttenteTransfert()"></p-button>
                &nbsp;
              </div>
            </div>
          </div>
      </p-tabPanel>
    </p-tabView>
    <p-messages key="anomalies"></p-messages>
    <div #messageAnomalieDemandePaiement>
      <p-panel header="Anomalies"
          *ngIf="isDemandeExistante() && demandePaiementData.etatForm.ongletAnomalie.visible">
              <app-liste-anomalies
                [idDemandePaiement]='idDemandePaiement'
                [btnAjouterAnomalie]='demandePaiementData.etatForm.btnAjouterAnomalie'
                [reponseAnomalie]='demandePaiementData.etatForm.reponseAnomalie'
                [btnCorrectionAnomalie]='demandePaiementData.etatForm.btnCorrectionAnomalie'
                (updateCallback)="reload()"></app-liste-anomalies>

              <div class="d-flex justify-content-end">
                <p-button icon="fas fa-exclamation-triangle" styleClass="ui-button-warning ml-2 mt-2"
                  label="Signaler en anomalie" title="Signaler en anomalie"
                  *ngIf="demandePaiementData.etatForm.signalerAnomalie.visible"
                  (onClick)="majDemandePaiementAnomalieSignalee()">
                </p-button>
              </div>
      </p-panel>
    </div>

  </form>

</div>
<p-dialog header="" [(visible)]="displayModal" [modal]="true"  [baseZIndex]="10000"
                      [draggable]="false" [resizable]="false" [style]="{width: '80vw', height: '80vw'}" >

          <iframe [src]="localUrl | safe: 'resourceUrl'" width="100%" height="600" *ngIf="isPdfContent"></iframe>
          <table id="TheTable" class="ExcelTable2007" *ngIf="isExcelContent">
            <thead #header>
              <tr>
                <th *ngFor="let headValue of headData">
                  {{headValue}}
                </th>
              </tr>
            </thead>
            <tbody #container>
              <tr *ngFor="let row of data">
                <td *ngFor="let val of headData; let i =index">
                  {{row[i] || ' '}}
                </td>
              </tr>
            </tbody>
          </table>
        <p-footer>

        </p-footer>
    </p-dialog>
