.show-class {
    visibility: visible;
  }

.hide-class {
    display: none;
}

.col-action {
  width: 150px;
}
.alignCalculBloc {
  line-height: 36px;
}
.alignCalculBouton {
  vertical-align: middle;
}
h3 {
  margin-bottom: 20px;
}
