<p-table  [value]="docSups" >
    <ng-template pTemplate="header">
        <tr>
            <th>Document</th>
            <th class="col-action">Actions
                <a class="btn btn-xs float-right">
                  <app-custom-file-transfer [affichageUpload]="true"></app-custom-file-transfer>
                </a>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-document>
        <tr>
            <td>{{document.pdf}}</td>
            <td>
              <button pButton type="button" icon="fas fa-download" class="ui-button-primary mr-2"></button>
              <button pButton type="button" icon="fas fa-trash" class="ui-button-danger"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

