<div class="mt-2">
    <button pButton icon="pi pi-external-link" (click)="showModal()" *ngIf="showButton"></button>
  </div>

  <p-dialog header="" [(visible)]="displayModal" [modal]="true"  [baseZIndex]="10000"
[draggable]="false" [resizable]="false" [style]="{width: '80vw', height: '80vw'}" >

  <iframe [src]="localUrl | safe: 'resourceUrl'" width="100%" height="600" *ngIf="isPdfContent"></iframe>
  <table id="TheTable" class="ExcelTable2007" *ngIf="isExcelContent">
    <thead #header>
      <tr>
        <th *ngFor="let headValue of headData">
          {{headValue}}
        </th>
      </tr>
    </thead>
    <tbody #container>
      <tr *ngFor="let row of data">
        <td *ngFor="let val of headData; let i =index">
          {{row[i] || ' '}}
        </td>
      </tr>
    </tbody>
  </table>
<p-footer>
 
</p-footer>
</p-dialog>
