<div class="p-grid" *ngIf="isUserMfer">
    <app-tableau-de-bord-mfer [admin]="this.isUserMferAdmin"></app-tableau-de-bord-mfer>
</div>
<div class="p-grid" *ngIf="isUserSd7">
    <app-tableau-de-bord-sd7 [admin]="this.isUserSd7Admin"></app-tableau-de-bord-sd7>
</div>
<div class="p-grid" *ngIf="isUserGenerique">
    <app-tableau-de-bord-gene></app-tableau-de-bord-gene>
</div>
