<div class="p-grid">
  <p-table [value]="demandesSubventionTdbDto" [lazy]="true" (onLazyLoad)="loadDemandesLazy($event)" [paginator]="true"
  [rows]="pageSize" [totalRecords]="nbTotalResultats" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
        <tr style="text-align:center">
            <th>Date de création</th>
            <th>Collectivité</th>
            <th>N° de dossier</th>
            <th>Plafond d'aide</th>
            <th class="col-action">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-demandeSubventionDto>
        <tr>
            <td>{{demandeSubventionDto.dateCreationDossier}}</td>
            <td>{{demandeSubventionDto.nomCourtCollectivite}}</td>
            <td>{{demandeSubventionDto.numDossier}}</td>
            <td>{{demandeSubventionDto.plafondAideDemande | montantEuros}}</td>
            <td style="text-align: center">
              <a routerLink="/subvention/demande/{{demandeSubventionDto.id}}">
                <button pButton type="button" icon="fas fa-paste" class="ui-button-primary mr-2"></button>
              </a>
          </td>
        </tr>
    </ng-template>
    </p-table>
</div>
