
<p-tabView *ngIf="anneesSet.size" (onChange)="updateRowGroupMetaData(annees[$event.index])">
  <p-tabPanel *ngFor="let annee of annees; let i = index" [selected]="maxAnneeSet()==annee" [header]="annee" [rightIcon]="hasCadencementValide(annee) ? null :'fa fa-exclamation-triangle'" >
    <div class="p-grid mb-4">
      <div class="table-responsive">
        <p-table dataKey="cadencement.id" [value]="cadencementMap[annee].cadencements" [autoLayout]="true" editMode="row" sortField="[cadencementTableDto.sousProgramme.abreviation, cadencementTableDto.numDossier]" sortMode="multiple" (onSort)="onSort(annee)">
          <ng-template pTemplate="header">
            <tr style="text-align:center">
              <th rowspan="2">Code - Libellé</th>
              <th rowspan="2">Demande(s) subvention(s)</th>
              <th rowspan="2">Dossier</th>
              <th [attr.colspan]="cadencementMap[annee].hasProlongation?'5':'4'">Cadencement</th>
              <th rowspan="2">Etat</th>
              <th style="width: 10%" rowspan="2">Actions</th>
            </tr>
            <tr style="text-align:center">
              <th>{{annee}}</th>
              <th>{{annee+1}}</th>
              <th>{{annee+2}}</th>
              <th>{{annee+3}}</th>
              <th *ngIf="cadencementMap[annee].hasProlongation">{{annee+4}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cadencementTableDto let-editing="editing" let-index="rowIndex" let-rowIndex="rowIndex">
            <tr [pEditableRow]="cadencementTableDto">
              <td *ngIf="rowGroupMetadata[cadencementTableDto.sousProgramme.abreviation] && rowGroupMetadata[cadencementTableDto.sousProgramme.abreviation].index === rowIndex" [attr.rowSpan]="rowGroupMetadata[cadencementTableDto.sousProgramme.abreviation].size">{{cadencementTableDto.sousProgramme.abreviation}} - {{cadencementTableDto.sousProgramme.description}}</td>
              <td>{{cadencementTableDto.plafondAideSubvention | montantEuros}}</td>
              <td *ngIf="rowGroupMetadata2[cadencementTableDto.numDossier] && rowGroupMetadata2[cadencementTableDto.numDossier].index === rowIndex" [attr.rowSpan]="rowGroupMetadata2[cadencementTableDto.numDossier].size">{{cadencementTableDto.numDossier}}</td>

              <td *ngIf="!celluleEstNonModifiable(cadencementTableDto.anneeProgrammation)">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input style="width: 100%"
                      pInputText [(ngModel)]="cadencementTableDto.cadencement.montantAnnee1" required type="number">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{cadencementTableDto.cadencement.montantAnnee1 | montantEuros}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td *ngIf="celluleEstNonModifiable(cadencementTableDto.anneeProgrammation)" [ngStyle]="{'background-color': celluleNonModifiable(cadencementTableDto.anneeProgrammation)}">{{cadencementTableDto.cadencement.montantAnnee1 | montantEuros}}</td>
              <td *ngIf="!celluleEstNonModifiable(cadencementTableDto.anneeProgrammation+1)">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input style="width: 100%"
                      pInputText [(ngModel)]="cadencementTableDto.cadencement.montantAnnee2" required type="number">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{cadencementTableDto.cadencement.montantAnnee2 | montantEuros}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td *ngIf="celluleEstNonModifiable(cadencementTableDto.anneeProgrammation+1)" [ngStyle]="{'background-color': celluleNonModifiable(cadencementTableDto.anneeProgrammation+1)}">{{cadencementTableDto.cadencement.montantAnnee2 | montantEuros}}</td>
              <td *ngIf="!celluleEstNonModifiable(cadencementTableDto.anneeProgrammation+2)">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input style="width: 100%"
                      pInputText [(ngModel)]="cadencementTableDto.cadencement.montantAnnee3" required type="number">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{cadencementTableDto.cadencement.montantAnnee3 | montantEuros}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td *ngIf="celluleEstNonModifiable(cadencementTableDto.anneeProgrammation+2)" [ngStyle]="{'background-color': celluleNonModifiable(cadencementTableDto.anneeProgrammation+2)}">{{cadencementTableDto.cadencement.montantAnnee3 | montantEuros}}</td>
              <td *ngIf="!celluleEstNonModifiable(cadencementTableDto.anneeProgrammation+3)">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input style="width: 100%"
                      pInputText [(ngModel)]="cadencementTableDto.cadencement.montantAnnee4" required type="number">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{cadencementTableDto.cadencement.montantAnnee4 | montantEuros}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td *ngIf="celluleEstNonModifiable(cadencementTableDto.anneeProgrammation+3)" [ngStyle]="{'background-color': celluleNonModifiable(cadencementTableDto.anneeProgrammation+3)}">{{cadencementTableDto.cadencement.montantAnnee4 | montantEuros}}</td>
              <td *ngIf="cadencementMap[annee].hasProlongation && !cadencementTableDto.hasProlongation"></td>
              <td *ngIf="cadencementTableDto.hasProlongation">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input style="width: 100%"
                      pInputText [(ngModel)]="cadencementTableDto.cadencement.montantAnneeProlongation" required type="number">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{cadencementTableDto.cadencement.montantAnneeProlongation | montantEuros}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <i *ngIf="!cadencementTableDto.cadencement.estValide" class="fa fa-exclamation-triangle" style="color:red" aria-hidden="true"></i>
              </td>
              <td style="text-align:center">
                <button *ngIf="!editing && !cadencementTableDto.soldee" [attr.disabled]="this.coursEdition" pButton type="button" pInitEditableRow title="Modifier" icon="fas fa-pen"
                  class="ui-button-info mr-2" (click)="onRowEditInit(cadencementTableDto, annee)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow title="Annuler" icon="fas fa-chevron-left"
                  class="ui-button-secondary mr-2" (click)="onRowEditCancel(cadencementTableDto, index, annee)"
                  style="margin-right: .5em"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow title="Enregistrer" icon="fas fa-save"
                  class="ui-button-info mr-2" (click)="onRowEditSave(cadencementTableDto, index, annee)"></button>
                <a routerLink="/subvention/dossier/{{cadencementTableDto.idDossier}}">
                  <button pButton type="button" icon="pi pi-eye" class="ui-button-primary"></button>
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
