<div class="ui-g ui-fluid" [formGroup]=contactFormGroup>
    <div class="ui-g-3 ui-md-3">Nom - Prénom  <span class="text-secondary">{{contactFormGroup.get('nom').value.length}}/300</span></div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText type="text" formControlName="nom">
    </div>
    <div class="ui-g-3 ui-md-3">Adresse email</div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText formControlName="email">
    </div>

    <div *ngIf="contactFormGroup.get('email').invalid && (contactFormGroup.get('email').dirty && contactFormGroup.get('email').touched)"
    class="ui-g-12 ui-md-12 alert alert-danger">
      Adresse invalide
    </div>
    <div class="ui-g-3 ui-md-3">Objet  <span class="text-secondary">{{contactFormGroup.get('objet').value.length}}/300</span></div>
    <div class="ui-g-9 ui-md-9">
      <input pInputText formControlName="objet">
    </div>
    <div class="ui-g-3 ui-md-3">Message  <span class="text-secondary">{{contactFormGroup.get('message').value.length}}/5000</span></div>
    <div class="ui-g-9 ui-md-9">
      <textarea rows="5" cols="30" pInputTextarea formControlName="message"></textarea>
    </div>
    <div class="ui-g-12 ui-md-12">
      <p-button
        icon="fas fa-envelope"
        styleClass="ui-button-primary "
        class="float-right"
        label="Envoyer"
        [disabled]="(contactFormGroup.get('email').invalid || contactFormGroup.get('nom').invalid || contactFormGroup.get('message').invalid) || !contactFormGroup.get('message').dirty"
        (onClick)="envoiEmailContact()"></p-button>
    </div>
  </div>
