<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-offset-10 ui-md-2">
    <p-button label="Ajouter" icon="fas fa-user-plus" class="float-right" (click)="afficherModalAjoutEmail()"  *ngIf="isCollectiviteOuvert() && isAdminCollectivite()"></p-button>
  </div>
</div>
<p-table [value]="listeDiffusion$ | async">
  <!-- header -->
  <ng-template pTemplate="header">
    <tr class="text-center">
      <th class="col-email">Email</th>
      <th *ngIf="isCollectiviteOuvert()">Action</th>
    </tr>
  </ng-template>
  <!-- body/contenu -->
  <ng-template pTemplate="body" let-diffusion>
    <tr>
      <td>{{diffusion.email}}</td>
      <td style="text-align:center" *ngIf="isCollectiviteOuvert()">
        <p-button type="button" icon="fas fa-trash" styleClass="ui-button-danger" *ngIf="isAdminCollectivite()" [disabled]="estDerniereAdresse()"
          (onClick)="confirmerSupprimerEmail(diffusion.id)"></p-button>
      </td>
    </tr>
  </ng-template>
  <!-- message : aucun résultat -->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="2">
        Aucune donnée disponible dans le tableau
      </td>
    </tr>
  </ng-template>
</p-table>


<!-- modal de confirmation de suppression d'une adresse email -->
<p-dialog header="Confirmation de suppression" [(visible)]="affichageModalConfirmSupprEmail"
  [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" showEffect="fade">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      Êtes-vous sûr de vouloir supprimer cette adresse e-mail de la liste de diffusion ?
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fas fa-times" (click)="fermerConfirmSupprEmail()" label="Non"></button>
      <button type="button" pButton icon="fas fa-check" (click)="supprimerAdresseEmail()" label="Oui"></button>
    </div>
  </p-footer>
</p-dialog>


<!-- modal d'ajout d'une adresse email -->
<p-dialog header="Ajout d'une adresse e-mail" [(visible)]="affichageModalAjoutEmail" [modal]="true" [responsive]="true" [style]="{width: '400px', minWidth: '200px'}" showEffect="fade">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
          Veuillez saisir l'adresse e-mail à ajouter.
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="email">E-Mail</label>
          </div>
          <div class="ui-g-8">
            <input required pInputText name="emailAjouter" [(ngModel)]="emailAjouter" email #mailAjouterListeDiffusion="ngModel"/>
            <p-message severity="error" text="E-mail invalide" *ngIf="mailAjouterListeDiffusion.errors?.email"></p-message>
          </div>
      </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fas fa-plus" (click)="ajouterAdresseEmail()" label="Ajouter" [disabled]="mailAjouterListeDiffusion.errors"></button>
        </div>
    </p-footer>
  </p-dialog>
