<div class="d-flex justify-content-end">
  <p-button class="mb-3 mr-2 ml-2" styleClass="ui-button-primary" icon="fas fa-plus" (click)="showDialogToAdd()" label="Ajouter" title="Ajouter dotation"></p-button>
  <p-button class="mb-3 mr-2 ml-2" styleClass="ui-button-primary" icon="fas fa-cog" (click)="generer()" label="Générer" title="Générer annexe"></p-button>
  <app-custom-file-transfer (uploadCallback)="televerserEtNotifier($event)"
    [affichageUpload]="true" label="Importer notification" title="Importer le courrier de notification au format pdf" accept=".pdf" class="float-right mb-3"
    icon="fas fa-upload" mode="button-text">
  </app-custom-file-transfer>
</div>

<p-confirmDialog acceptLabel="Oui" rejectLabel="Non" [style]="{width: '50vw'}"></p-confirmDialog>

<p-table [value]="dotations">
  <ng-template pTemplate="header">
    <tr class="text-center">
      <th>Type</th>
      <th>Sous Programme</th>
      <th>Montant</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData">
      <td>{{rowData.typeDotationDepartement}}</td>
      <td pTooltip={{rowData.sousProgramme.code}}>{{rowData.sousProgramme.name}}</td>
      <td>{{rowData.montant | montantEuros}}</td>
      <td style="text-align:center">
          <button pButton type="button" icon="fas fa-trash" class="ui-button-danger"
                    (click)="confirmerSuppression(rowData.idLigneDotationDepartementale)" pTooltip="Supprimer la ligne"></button>
      </td>
    </tr>
  </ng-template>
  <!-- message : aucun résultat -->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="4">
        Aucune donnée disponible dans le tableau
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Détail d'une dotation" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [contentStyle]="{'overflow':'visible'}"  [style]="{width: '600px'}">
  <form [formGroup]="angForm" novalidate>
  <div class="ui-g ui-fluid">
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="sousProgramme">Sous programme</label>
          </div>
          <div class="ui-g-8">
            <p-dropdown required [options]="sousProgrammes" id="sousProgramme" formControlName="sousProgramme" #sousProgramme [filter]="true"
                        placeholder="..." optionLabel="description" [showClear]="true"
                        [style]="{'width':'100%'}"></p-dropdown>
          </div>
          <div *ngIf="angForm.controls['sousProgramme'].invalid && angForm.controls['sousProgramme'].touched" class="ui-g-12 alert alert-danger">
            <div *ngIf="angForm.controls['sousProgramme'].errors.required">
              Le sous programme ne peut être vide
            </div>
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="montant">Montant</label>
          </div>
          <div class="ui-g-8">
              <input type="text" required styleClass="ng-invalid" pInputText pKeyFilter="money" (keyup)="formatMontant($event.target.value)" id="montant" formControlName="montant" #montant />
          </div>
         <div *ngIf="angForm.controls['montant'].invalid && (angForm.controls['montant'].dirty ||
           angForm.controls['montant'].touched)" class="ui-g-12 alert alert-danger">
          <div *ngIf="angForm.controls['montant'].errors.required">
            Le montant ne peut être vide
          </div>
        </div>
      </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button pButton type="button" icon="fas fa-check" (click)="save(sousProgramme.value)"
                label="Sauvegarder" [disabled]="angForm.pristine || angForm.invalid" ></button>
      </div>
  </p-footer>
  </form>
</p-dialog>
