<!-- mode 'default' : file upload + download -->
<div class="input-group" *ngIf="(mode === 'default' && affichageUpload && affichageDownload)">
  <div class="custom-file">
    <input type="file" class="custom-file-input" title="{{label}}" lang="fr" id="customFile" #customFile (change)="onUploadCallback($event)" accept="{{accept}}" [disabled]="disabledUpload">
    <label class="custom-file-label" for="customFile">{{label}}</label>
    </div>
  <div class="input-group-append">
    <button class="btn btn-sm btn-primary" title={{titleDl}} *ngIf="true" (click)="onDownloadCallback($event)" [disabled]="disabledDownload">
      <span class="fas fa-download"></span>
    </button>
  </div>
</div>

<!-- mode 'default' : file upload uniquement -->
<div class="custom-file" *ngIf="(mode === 'default' && affichageUpload && !affichageDownload)">
  <input type="file" class="custom-file-input" title="{{label}}" lang="fr" id="customFile" 
  #customFile (change)="onUploadCallback($event)" accept="{{accept}}" [disabled]="disabledUpload">
  <label class="custom-file-label" for="customFile">{{label}}</label>
  <app-file-previewer 
  [excelExtention]="excelExtention" 
  [event]="fileEventUploaded" 
  [showButton]="displayShowButton"></app-file-previewer>
</div>

<!-- mode 'default' : file download uniquement -->
<div style="display: inline-block; height: calc(2.25rem + 2px);" *ngIf="(mode === 'default' && affichageDownload && !affichageUpload)">
  <button class="btn btn-sm btn-primary libelle" title="{{titleDl}}" *ngIf="true" (click)="onDownloadCallback($event)" [disabled]="disabledDownload">
      <span class="fas fa-download"></span>
      <span *ngIf="libelle" class="ui-button-text ui-clickable" style="display: display-block">&nbsp;{{libelle}}</span>
  </button>
</div>

<!-- mode 'default' : file download uniquement -->
<div style="display: inline-block; height: calc(2.25rem + 2px);" *ngIf="(mode === 'download' && affichageDownload && !affichageUpload)">
  <button class="btn btn-sm btn-primary" title="{{titleDl}}" *ngIf="true" (click)="onDownloadCallback($event)" [disabled]="disabledDownload">
      <span class="fas fa-download"></span>
  </button>
</div>

<!-- mode 'button' : file upload uniquement -->
<label class="btn btn-primary btn-xs" style="background-color: #007ad9" title="{{title}}" *ngIf="(mode === 'button')">
  <i class="{{icon}}"></i>
  <input type="file" style="width: 1px; height: 0px; overflow: hidden;" id="customFile" #customFile (change)="onUploadCallback($event)" [disabled]="disabledUpload">
</label>

<!-- mode 'button-text' : file upload uniquement -->
<label class="ui-button-primary ml-2 ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" style="background-color: #007ad9" title="{{title}}" *ngIf="(mode === 'button-text')">
    <span class="ui-clickable ui-button-icon-left ng-star-inserted {{icon}}"></span>
    <span class="ui-button-text ui-clickable" style="display: inline-block;">{{label}}</span>
    <input type="file" style="width: 1px; height: 0px; overflow: hidden; display:inline; visibility:hidden" id="customFile" #customFile (change)="onUploadCallback($event)" [disabled]="disabledUpload" accept="{{accept}}">
</label>

<!-- message d'erreur éventuel -->
<div style="color: red" *ngIf="errorLibelle">
  Erreur : {{errorLibelle}}
</div>
