.libelle {
    text-align: left;
}

@media screen and (min-width: 992px) {
    .libelle {
        width: 200.5px !important;
    }
}
@media screen and (max-width: 992px) {
    .libelle {
        width: 100% !important;
    }
}