<div [formGroup]="donneesFiscalesForm" class="ui-g ui-fluid">
  <div class="ui-g-3 ui-md-3">Comptable centraliseur </div>
  <div class="ui-g-9 ui-md-9">
    <input pInputText styleClass="ng-invalid" id="input-comptable-centraliseur" type="text" formControlName="nomCodique" />
  </div>
  <div class="ui-g-3 ui-md-3">L Codique </div>
  <div class="ui-g-9 ui-md-9">
    <input pInputText styleClass="ng-invalid" id="input-Lcodique" type="text" formControlName="codique">
  </div>
  <div class="ui-g-12 ui-md-12 text-right">
    <p-button label="Annuler" icon="fas fa-chevron-left" class="mr-2" styleClass="ui-button-secondary" (click)="annuler()"></p-button>
    <p-button label="Enregistrer" icon="fas fa-save" class="mr-2" (click)="enregistrer()" [disabled]="enregistrerDisabled"></p-button>
  </div>
</div>
