<div class="ui-g ui-fluid">
    <p-table [value]="listeDemandePaiement$ | async">
    <!-- header -->
    <ng-template pTemplate="header">
      <tr style="text-align:center">
        <th class="col-etat">État</th>
        <th class="col-date">Date</th>
        <th class="col-montant">Aide demandée</th>
        <th class="col-type">Type</th>
        <th class="col-action">Action</th>
      </tr>
    </ng-template>
    <!-- body/contenu -->
    <ng-template pTemplate="body" let-demande>
      <tr>
        <td>
            <i class="{{getClassIcone(demande)}}" pTooltip="{{demande.libelleEtatDemande}}" tooltipPosition="top"></i>
        </td>
        <td>{{demande.dateDemande}}</td>
        <td>{{demande.aideDemandee | montantEuros}}</td>
        <td>{{demande.typeDemandePaiement}}</td>
        <td style="text-align: center">
          <a routerLink="/paiement/demande/{{demande.id}}/details">
            <button pButton type="button" icon="fas fas fa-euro-sign" class="ui-button-primary"></button>
          </a>
        </td>
      </tr>
    </ng-template>
    <!-- message : aucun résultat -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="5">
          Aucune donnée disponible dans le tableau
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
