<p-dialog [header]="header" [(visible)]="visible" [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">

  <div class="ui-g-12 ui-md-12">
    <div class="ui-g-6 ui-md-6" style="text-align: right;">
      Montant attribué en budget {{dotationSsProgDto.concerneInitial?'initial':'effectif'}} :
    </div>
    <div class="ui-g-6 ui-md-6">
      {{(dotationSsProgDto.concerneInitial?ligneSsProg.montantInitialAnneeN:ligneSsProg.montantAnneeN) | montantEuros}}
    </div>

    <div class="ui-g-12 ui-md-12 alert alert-warning m-0 p-0">
      <div class="ui-g-6 ui-md-6 m-0" style="text-align: right;">
        Montant restant à répartir sur le budget {{dotationSsProgDto.concerneInitial?'initial':'effectif'}} :
      </div>
      <div class="ui-g-6 ui-md-6 m-0">
        {{(dotationSsProgDto.concerneInitial?
          (dotationNationaleDto.dotationProgramme.montant - dotationNationaleDto.sommeDotationsSpInitialAnneeN) :
          (dotationNationaleDto.sommeDotationsSpInitialAnneeN - dotationNationaleDto.sommeDotationsSpAnneeN)) | montantEuros}}
      </div>
    </div>
    <div class="ui-g-6 ui-md-6" style="text-align: right;">
      Montant à ajouter au budget {{dotationSsProgDto.concerneInitial?'initial':'effectif'}} :
    </div>
    <div class="ui-g-6 ui-md-6">
      <p-inputNumber class="m-1" [(ngModel)]="dotationSsProgDto.montant" mode="currency" min="0" [max]="dotationSsProgDto.concerneInitial?
        (dotationNationaleDto.dotationProgramme.montant - dotationNationaleDto.sommeDotationsSpInitialAnneeN) :
        (dotationNationaleDto.sommeDotationsSpInitialAnneeN - dotationNationaleDto.sommeDotationsSpAnneeN)" currency="EUR"></p-inputNumber>
    </div>
    <div class="ui-g-12 ui-md-12 m-0">
      <hr style="height: fit-content;"/>
    </div>
    <div class="ui-g-6 ui-md-6" style="text-align: right;">
      Budget {{dotationSsProgDto.concerneInitial?'initial':'effectif'}} après ajout :
    </div>
    <div class="ui-g-6 ui-md-6">
      {{calculerNouveauMontant() | montantEuros}}
    </div>

  </div>


  <p-footer>
    <p-button icon="pi pi-times" (click)="refuser()" label="Annuler" styleClass="ui-button-secondary"></p-button>
    <p-button icon="pi pi-check" (click)="accepter()" label="Valider" class="p-button-text"></p-button>
  </p-footer>
</p-dialog>
