<form [formGroup]="dotationRenoncementForm">

  <p-panel header="Dotation" [toggleable]="true">

    <div class="ui-g ui-fluid">

      <!-- SousProgramme -->
      <div class="ui-g-3 ui-md-3">Sous Programme:</div>
      <div class="ui-g-9 ui-md-9 ">
        <p-dropdown [options]="sousProgrammes" formControlName="selectionSousProgramme" [filter]="true"
          placeholder="Choisissez un sous programme" optionLabel="description" [showClear]="true"
          [style]="{'width':'100%'}" (onChange)="majDtoFromFormulaire()"></p-dropdown>
      </div>
    </div>
    <!-- Dotation Disponible -->
    <div class="ui-g ui-fluid" *ngIf="hide==false">
      <div class="ui-g-3 ui-md-3">Dotation disponible: </div>
      <div class="ui-g-9 ui-md-9">
        <!-- <input id="disabled-input" type="text" value="260 000 €" pInputText [attr.disabled]="true" /> -->
        <label>{{dotationRenoncementDto.dotationDisponible | montantEuros}}</label>
      </div>
    </div>

  </p-panel>

  <br />

  <p-panel [toggleable]="true" header="Renoncement" *ngIf="hide==false">

    <div class="ui-g ui-fluid">

      <!-- montantRenoncement -->
      <div class="ui-g-3 ui-md-3 label-required">Montant du renoncement: </div>
      <div class="ui-g-9 ui-md-9">
        <input styleClass="ng-invalid" pInputText type="number" formControlName="montant">
      </div>

      <!-- justificatifSigne -->
      <div class="ui-g-3 ui-md-3 label-required">Justificatif signé: </div>
      <div class="ui-g-9 ui-md-9">
        <div class="ui-inputgroup">
          <app-custom-file-transfer
            (uploadCallback)="ajoutFichierUploader('RENONCEMENT_MONTANT_DOTATION', $event)"
            [affichageUpload]="true" label="Choisir" title="Téléverser au format pdf"
                accept=".pdf" class="float-right" mode="button-text">
          </app-custom-file-transfer>
        </div>
      </div>

      <!-- bouton enregistrer -->
      <div class="ui-g-12 ui-md-offset-10 ui-md-2">
        <p-button label="Enregistrer" title="Enregistrer" icon="fas fa-save" styleClass="ui-button" class="float-right"
          (click)="renoncerDotation()"></p-button>
      </div>

    </div>

  </p-panel>

</form>
