<div class="p-grid">
  <p-table [value]="demandesProlongationTdbDto" [lazy]="true" (onLazyLoad)="loadDemandesLazy($event)" [paginator]="true"
  [rows]="pageSize" [totalRecords]="nbTotalResultats" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
        <tr style="text-align:center">
            <th>Date de création</th>
            <th>Collectivité</th>
            <th>N° de dossier</th>
            <th>Date demandée</th>
            <th class="col-action">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-demandeProlongationDto>
        <tr>
            <td>{{demandeProlongationDto.dateCreationDossier}}</td>
            <td>{{demandeProlongationDto.nomCourtCollectivite}}</td>
            <td>{{demandeProlongationDto.numDossier}}</td>
            <td>{{demandeProlongationDto.dateAchevementDemandee}}</td>
            <td style="text-align: center">
              <a routerLink="/prolongation/demande/{{demandeProlongationDto.id}}">
                <button pButton type="button" icon="fas fa-calendar-plus" class="ui-button-primary mr-2"></button>
              </a>
          </td>
        </tr>
    </ng-template>
    </p-table>
</div>
