<header class="d-none d-sm-block">
  <a style="color: black" href="#">
    <nav class="navbar navbar-light navbar-expand-md" role="navigation" aria-labelledby="menu_accessibilite" style="white-space: nowrap;">
        <ul class="navbar-nav mr-auto">
            <img id='marianne' class="img-fluid" [src]="marianne" alt="Marianne">
            <span class="nomministere">
                Ministère de la Transition Écologique et Solidaire
                <br>
                Ministère de la Cohésion des Territoires
            </span>
            <h2 id="menu_accessibilite" class="sr-only">Menu d'accessibilité</h2>
        </ul>
        <ul class="inline_access">
            <a href="" accesskey="0" title="Comment ce site est accessible ?">
                <li class="aide_accessibilite">
                    <span class="sr-only">Politique d'accessibilité</span>
                </li>
            </a>
            <a href="#/accueil" accesskey="s" title="Aller au contenu">
                <li class="contenu_accessibilite">
                    <span class="sr-only">Aller au contenu</span>
                </li>
            </a>
            <a href="#/subvention/recherche" accesskey="1" title="Aller à la recherche">
                <li class="recherche_accessibilite">
                    <span class="sr-only">Aller à la recherche</span>
                </li>
            </a>
            <a href="#/accueil" title="Aller à la page d'accueil">
                <li class="accueil_accessibilite">
                    <span class="sr-only">Aller à la page d'accueil</span>
                </li>
            </a>
        </ul>
    </nav>
  </a>
</header>
<!-- /.accessibilite -->
