<nav class="navbar navbar-expand-sm navbar-dark bg-secondary mb-4" role="navigation" aria-labelledby="menu_principal"
  style="white-space: nowrap;" data-toggle="sticky-onscroll">
  <h2 id="menu_principal" class="sr-only">Menu principal</h2>
  <div class="container">
    <img class="img-fluid" [src]="marianne" alt="Marianne" id="logo-sticky-menu">
    <a class="navbar-brand d-block d-sm-none" href="#">
      <div class="col-xs-6 col-md-12" title="Retour à l'accueil de l'application">FACE</div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_menu-principal"
      aria-controls="navbar_menu-principal" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar_menu-principal">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/" id="navbarDropdown" role="button" aria-haspopup="true"
            aria-expanded="false">
            FACE V2.1.9</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isMfer() || isSd7() || isAgent()" [class.active]= "isActive('tableaudebord')">
            <a class="nav-link" routerLink="/tableaudebord/afficher" id="navbarDropdown" role="button" aria-haspopup="true"
              aria-expanded="false">
              Tableau de bord </a>
        </li>
        <li class="nav-item dropdown" *ngIf="isMfer() || isAgent()" [class.active]= "isActive('dotation')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dotation </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/dotation/repartition-nationale/" *ngIf="isMfer()">Répartition nationale </a>
            <a class="dropdown-item" routerLink="/dotation/departement/" *ngIf="isMfer()">Répartition départementale </a>
            <a class="dropdown-item" routerLink="/dotation/collectivite/" *ngIf="isMfer()">Répartition par collectivité </a>
            <a class="dropdown-item" routerLink="/dotation/etat-transferts/" *ngIf="isMfer()">Etat des transferts </a>
            <a class="dropdown-item" routerLink="/dotation/etat-renonciations-pertes" *ngIf="isMfer()">Renonciations et pertes </a>
            <a class="dropdown-item" routerLink="/dotation/annuelle/" *ngIf="isAgent()">Dotation annuelle </a>
            <li class="dropdown-submenu dropright" *ngIf="isAgent()">
              <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" >
            Transfert de dotation </a>
              <ul class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/dotation/effectuer-transfert">Effectuer un transfert</a>
                  <a class="dropdown-item" routerLink="/dotation/etat-transfert">Etat de mes transferts</a>
              </ul>
            </li>
            <li class="dropdown-submenu dropright" *ngIf="isAgent()">
              <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" >
            Renonciations et pertes </a>
              <ul class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/dotation/renoncement/">Renoncer à une dotation</a>
                  <a class="dropdown-item" routerLink="/dotation/etat-renonciation-perte">Etat de mes renonciations et pertes</a>
              </ul>
            </li>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="isMfer() || isSd7() || isAgent()" [class.active]= "isActive('subvention')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Subvention</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/subvention/recherche/" *ngIf="isMfer() || isSd7() || isAgent()">Rechercher un dossier</a>
            <a class="dropdown-item" routerLink="/subvention/demande/projet" *ngIf="isAgent() && isCollectiviteOuvert()">Soumettre un projet</a>
            <li class="dropdown-submenu dropright" *ngIf="isAgent()">
              <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" >
            Cadencement </a>
              <ul class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/subvention/cadencement/demande">Subventions demandées</a>
                  <a class="dropdown-item" routerLink="/subvention/cadencement/projet">Projets soumis</a>
              </ul>
            </li>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="isMfer() || isSd7() || isAgent()" [class.active]= "isActive('paiement')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Paiement</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/paiement/recherche/" *ngIf="isMfer() || isSd7() || isAgent()">Rechercher un paiement</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="isMfer()" [class.active]= "isActive('gestion')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Gestion</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-submenu dropright">
              <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" >
            Cadencement </a>
              <ul class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/gestion/cadencement/etat-general">Etat général</a>
                  <a class="dropdown-item" routerLink="/gestion/cadencement/aode-defaut">AODE en défaut</a>
              </ul>
            </li>
            <a class="dropdown-item" routerLink="/gestion/engagement-travaux-retard">Engagement travaux</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="isMfer() || isAgent()" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Administration </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/administration/departement/" *ngIf="isMfer()">Département</a>
            <a class="dropdown-item" routerLink="/administration/collectivite/" *ngIf="isMfer() || isAgent()">Collectivité</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="isGeneriqueEtUneCollectivite()" style="margin-right:20px;">
          <span class="navbar-text">{{ (collectiviteSelection$ | async)?.nomCourt }}</span>
        </li>
        <li class="nav-item dropdown" *ngIf="isGeneriqueEtMultiCollectivites()" style="margin-right:20px;">
          <p-dropdown [(ngModel)]="collectiviteSelection" [options]="listeCollectivitesMenu" placeholder="..."
            optionLabel="nomCourt" (ngModelChange)="onChangeCollectivite(collectiviteSelection)" >
      </p-dropdown>
        </li>
        <li class="nav-item" *ngIf="!infosUtilisateur.id" >
          <a class="nav-link" href="{{ getUrlConnection() }}" role="button" aria-haspopup="true" aria-expanded="false">
            Se connecter
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="infosUtilisateur.id" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="fas fa-user type-aode"></span>&nbsp;
            <ng-container *ngIf="infosUtilisateur.id">
              {{ infosUtilisateur.nom }} {{ infosUtilisateur.prenom }}
            </ng-container>
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item" routerLink="/administration/mon-compte">Mon compte</a>
            <a class="dropdown-item" routerLink="/logout">Se déconnecter</a>
          </div>
        </li>
      </ul>
    </div>
