/* ajout pour affichage en hover */

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: -1px;
}

.active {
  color: white;
}
.dropdown-submenu {
  position: relative;
}


.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block !important;
}

.dropdown-submenu>.dropdown-menu {
  display: none !important;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:hover>.dropdown-submenu:hover, .dropdown-item:hover>.dropdown-submenu:focus {
  background-color:rgba(0, 123, 255, 0.5) !important;
}
