<h3 class="text-center">{{departement?.nom}}</h3>
<p-tabView>
  <p-tabPanel header="En préparation">
    <ng-template pTemplate="content">
      <dot-detail-en-preparation [idDepartement]=idDepartement (updateCallback)="update()"></dot-detail-en-preparation>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Notifiées" [selected]="true">
      <ng-template pTemplate="content">
        <dot-detail-envoyees [idDepartement]=idDepartement></dot-detail-envoyees>
      </ng-template>
  </p-tabPanel>
  <div class="ui-g-offset-11 mt-4">
      <p-button (click)="dotDepartement();" icon="fas fa-chevron-left" styleClass="ui-button-secondary"
                label="Retour" title="Retour répartition par département" routerLink="/dotation/departement/"></p-button>
  </div>
</p-tabView>
