<form  [formGroup]="dotationEtatTransfertAodeForm">

  <div class="ui-g ui-fluid">
    <div class="ui-g-3 ui-md-3">Année de programmation :</div>
    <div class="ui-g-9 ui-md-9">
      <p-dropdown [options]="annees" formControlName="selectionAnnee" [filter]="true" optionLabel="annee"
        [style]="{'width':'100%'}" (onChange)="majDtoFromFormulaire()"></p-dropdown>
    </div>
  </div>


      <div class="p-grid mb-4">
        <div class="table-responsive">
          <p-table exportFilename={{getDynamicDownloadName()}} [totalRecords]="nbTotalResultats" [responsive]="true" [columns]="cols" #transfertTable [value]="transfertFongibiliteLovDto" [autoLayout]="true" [paginator]="true" [rows]="20">
            <ng-template pTemplate="caption">
              <div class="d-flex justify-content-start">
                  <button label="Télécharger en format CSV" type="button" pButton icon="pi pi-file-o" (click)="transfertTable.paginator=false;transfertTable.exportCSV();transfertTable.paginator=true" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr >
                <th [style]="col.style" *ngFor="let col of columns">
                  {{col.header}}
              </th>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  <div *ngIf="col.field === 'montant'">
                    {{rowData[col.field] | montantEuros}}
                  </div>
                  <div *ngIf="col.field !== 'montant'">
                    {{rowData[col.field]}}
                  </div>
                </td>
            </tr>
            </ng-template>

          </p-table>

        </div>
      </div>

</form>

