<p-tabView>
  <p-tabPanel header="Programme 793 - Principal" cache="false">
    <ng-template pTemplate="content">
      <app-dotation-repartition-nationale-programme [codeProgramme]="793"></app-dotation-repartition-nationale-programme>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Programme 794 - Spécial" cache="false">
    <ng-template pTemplate="content">
      <app-dotation-repartition-nationale-programme [codeProgramme]="794"></app-dotation-repartition-nationale-programme>
    </ng-template>
  </p-tabPanel>
</p-tabView>
