<div class="p-grid">
  <p-table [value]="demandesPaiementTdbDto" [lazy]="true" (onLazyLoad)="loadDemandesLazy($event)" [paginator]="true"
  [rows]="pageSize" [totalRecords]="nbTotalResultats" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
        <tr style="text-align:center">
            <th>Date de création</th>
            <th>Collectivité</th>
            <th>N° de dossier</th>
            <th>Aide demandée</th>
            <th class="col-action">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-demandePaiementDto>
        <tr>
            <td>{{demandePaiementDto.dateCreationDossier}}</td>
            <td>{{demandePaiementDto.nomCourtCollectivite}}</td>
            <td>{{demandePaiementDto.numDossier}}</td>
            <td>{{demandePaiementDto.aideDemandeeDemande | montantEuros}}</td>
            <td style="text-align: center">
              <a routerLink="/paiement/demande/{{demandePaiementDto.id}}/details">
                <button pButton type="button" icon="fas fa-euro-sign" class="ui-button-primary mr-2"></button>
              </a>
          </td>
        </tr>
    </ng-template>
    </p-table>
</div>
