<p-panel header="Critères" [toggleable]="true" styleClass="mb-4">
  <div class="ui-g ui-fluid">
    <label class="ui-g-2 ui-md-2" *ngIf="!isUserUniquementGenerique">Département </label>
    <div class="ui-g-10 ui-md-10" *ngIf="!isUserUniquementGenerique">
      <p-dropdown [options]="departements" [(ngModel)]="selectedDepartement" [filter]="true" placeholder="..." optionLabel="codeEtNom"
        (onChange)="onChangeDepartement(selectedDepartement)"></p-dropdown>
    </div>
  </div>
</p-panel>
<ng-container *ngIf="hide==false">
  <p-tabView>
    <p-tabPanel header="Adresse" [selected]="true" [disabled]="modificationDetecteeDonneesFiscales">
        <adm-departement-adresse [departement]="selectedDepartement" [(modificationDetectee)]="modificationDetecteeAdresse"></adm-departement-adresse>
    </p-tabPanel>
    <p-tabPanel header="Données Fiscales" [disabled]="modificationDetecteeAdresse">
      <adm-departement-donnees-fiscales [(departement)]="departement" [(modificationDetectee)]="modificationDetecteeDonneesFiscales"></adm-departement-donnees-fiscales>
    </p-tabPanel>
    <p-tabPanel header="Collectivité" [disabled]="modificationDetecteeDonneesFiscales || modificationDetecteeAdresse">
      <adm-departement-collectivite [departement]="selectedDepartement"></adm-departement-collectivite>
    </p-tabPanel>
  </p-tabView>
</ng-container>
