th {
  background-color: #6c757d !important;
  color: white !important;
}

.bubble {
    position: relative;
    background: #fff3cd;
    color: #856504;
    text-align: center;
    border-radius: 10px;
    padding: 0px;
    border: #ffeeba solid 2px;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #fff3cd transparent;
    border-width: 16px 15px 0;
    bottom: -16px;
    left: 50%;
    margin-left: -15px;
}
.bubble:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-color: #ffeeba transparent;
    border-width: 18px 17px 0;
    bottom: -19px;
    left: 50%;
    margin-left: -17px;
    display: block;
}


/* Pour cacher les flèches haut/bas dans le champ "dotation programme" */
/* Pour les navigateurs tels que Chrome et Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Pour les navigateur comme Firefox */
input[type=number] {
    -moz-appearance:textfield;
}
