
<form>
  <div class="ui-g p-grid">
    <div class="ui-g-12">
        <span class="ui-g-8">
          <div *ngIf="isUserMferAdmin">
            <span class="ui-g-5">
              <label for="input_dotation_programme_principal">Dotation par programme : </label>
              <input class="ml-2" pInputText type="text" [(value)]="montantStr" (keyup)="formatMontant($event.target.value)" maxlength="40" />
              <label class="ml-2">€</label>
            </span>
            <span class="ui-g-3">
              <p-button icon="fas fa-chevron-left" styleClass="ui-button-secondary" title="Annuler" (click)="reinitialiserProgrammeForm()"></p-button>
              <p-button class="ml-2" icon="fas fa-save" title="Enregistrer" (click)="modifierMontantDotationProgramme()"></p-button>
            </span>
          </div>
          <div class="ui-g-5 mt-2" *ngIf="!isUserMferAdmin">
            <label for="input_dotation_programme_principal">Dotation par programme : {{dotationNationaleDto.dotationProgramme.montant  | montantEuros}}</label>
          </div>
        </span>
      <div class="ui-g-2" *ngIf="codeProgramme!='793'"></div>
      <div class="ui-g-2">
        <div class="bubble mb-0" *ngIf="(dotationNationaleDto.dotationProgramme.montant - dotationNationaleDto.sommeDotationsSpInitialAnneeN) > 0">
          Enveloppe FACE
          <br/>
          Reste à répartir :
          <br/>
          {{(dotationNationaleDto.dotationProgramme.montant - dotationNationaleDto.sommeDotationsSpInitialAnneeN) | montantEuros}}
        </div>
      </div>
      <div class="ui-g-2" *ngIf="codeProgramme=='793'">
        <div class="bubble mb-0" *ngIf="(dotationNationaleDto.sommeDotationsSpInitialAnneeN - dotationNationaleDto.sommeDotationsSpAnneeN) > 0">
          Pertes et renonciations
          <br/>
          Reste à répartir :
          <br/>
          {{(dotationNationaleDto.sommeDotationsSpInitialAnneeN - dotationNationaleDto.sommeDotationsSpAnneeN) | montantEuros}}
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Modale d'ajout des montants pour dotations sous programme-->
<app-dotation-repartition-nationale-modale-ajout [codeProgramme]="codeProgramme" [(dotationSsProgDto)]="modaleDto" [dotationNationaleDto]="dotationNationaleDto"
    (dotationNationaleDtoEvent)="alimenterDotationNationaleDtoApresModif($event)"></app-dotation-repartition-nationale-modale-ajout>

<div class="p-grid mb-4" *ngIf="dotationNationaleDto">
  <div class="table-responsive">
    <p-table [value]="dotationNationaleDto.listeLignesDotationsSousProgrammes" [autoLayout]="true" dataKey="idSousProgramme" editMode="row">
        <ng-template pTemplate="header">
        <tr class="text-center">
            <th [style]="codeProgramme=='793'?'width: 7%':''">N°-Code</th>
            <th [style]="codeProgramme=='793'?'width: 20%':''">Libellé</th>
            <th [style]="codeProgramme=='793'?'width: 12%':''">{{dotationNationaleDto.dotationProgramme.annee-3}} <br *ngIf="codeProgramme=='793'"/> {{codeProgramme=="793"?'Budget effectif':''}}</th>
            <th [style]="codeProgramme=='793'?'width: 12%':''">{{dotationNationaleDto.dotationProgramme.annee-2}} <br *ngIf="codeProgramme=='793'"/> {{codeProgramme=="793"?'Budget effectif':''}}</th>
            <th [style]="codeProgramme=='793'?'width: 12%':''">{{dotationNationaleDto.dotationProgramme.annee-1}} <br *ngIf="codeProgramme=='793'"/> {{codeProgramme=="793"?'Budget effectif':''}}</th>
            <th>
              {{dotationNationaleDto.dotationProgramme.annee}} <br *ngIf="codeProgramme=='793'"/> {{codeProgramme=="793"?'Budget initial':''}}
            </th>
            <th *ngIf="codeProgramme=='793'" style="text-align:center;">{{dotationNationaleDto.dotationProgramme.annee}} <br/> Budget effectif</th>
        </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ligneDotation let-editing="editing" let-index="rowIndex">
              <tr>
                  <td [ngStyle]="{color: definirCouleurSelonValidite(ligneDotation)}">{{ligneDotation.numSousActionSp}} - {{ligneDotation.abreviationSp}}</td>
                  <td [ngStyle]="{color: definirCouleurSelonValidite(ligneDotation)}">{{ligneDotation.descriptionSp}}</td>
                  <td align="right" [ngStyle]="{color: definirCouleurSelonValidite(ligneDotation)}">{{formatLignedotationSelonValidite(ligneDotation, 3)}}</td>
                  <td align="right" [ngStyle]="{color: definirCouleurSelonValidite(ligneDotation)}">{{formatLignedotationSelonValidite(ligneDotation, 2)}}</td>
                  <td align="right" [ngStyle]="{color: definirCouleurSelonValidite(ligneDotation)}">{{formatLignedotationSelonValidite(ligneDotation, 1)}}</td>

                  <td class="p-align-center" [ngStyle]="{color: definirCouleurSelonValidite(ligneDotation)}">
                    <div style="display: flex;">
                      <div style="float: left; align-self: center; flex:2; text-align: left;">{{ligneDotation.montantInitialAnneeN | montantEuros}}</div>
                      <div style="float: right;align-self: center;">
                        <p-button [style]="{'display': 'inline-block'}" styleClass="ui-button-rounded" (click)="initModale(ligneDotation, true)" icon="pi pi-pencil"
                            *ngIf="(dotationNationaleDto.dotationProgramme.montant - dotationNationaleDto.sommeDotationsSpInitialAnneeN) > 0
                                    && estLigneDotationValide(ligneDotation)
                                    && isUserMferAdmin"></p-button>
                      </div>
                    </div>
                  </td>

                  <td *ngIf="codeProgramme=='793'" [ngStyle]="{color: definirCouleurSelonValidite(ligneDotation)}">
                    <div style="display: flex;">
                      <div style="float: left; align-self: center; flex:2; text-align: left;">{{ligneDotation.montantAnneeN | montantEuros}}</div>
                      <div style="float: right;align-self: center;">
                        <p-button  styleClass="ui-button-rounded" (click)="initModale(ligneDotation, false)" icon="pi pi-pencil"
                            *ngIf="(dotationNationaleDto.sommeDotationsSpInitialAnneeN - dotationNationaleDto.sommeDotationsSpAnneeN) > 0
                                    && estLigneDotationValide(ligneDotation)
                                    && isUserMferAdmin"></p-button>
                      </div>
                    </div>
                  </td>

              </tr>
          </ng-template>
          <ng-template pTemplate="footer">
          <tr>
              <td class="bg-secondary text-white" colspan="2" style="text-align:right">Somme</td>
              <td align="right">{{dotationNationaleDto.sommeDotationsSpAnneeMoins3 | montantEuros}}</td>
              <td align="right">{{dotationNationaleDto.sommeDotationsSpAnneeMoins2 | montantEuros}}</td>
              <td align="right">{{dotationNationaleDto.sommeDotationsSpAnneeMoins1 | montantEuros}}</td>
              <td align="right">{{dotationNationaleDto.sommeDotationsSpInitialAnneeN | montantEuros}} </td>
              <td align="right" *ngIf="codeProgramme=='793'" >{{dotationNationaleDto.sommeDotationsSpAnneeN | montantEuros}}</td>
          </tr>
          </ng-template>
      </p-table>
  </div>
</div>
