<form>
  <div [formGroup]="adresseForm" class="ui-g ui-fluid">
    <div class="ui-g-3 ui-md-3">Qualité</div>
    <div class="ui-g-9 ui-md-9">
        <input class="has-error" pInputText formControlName="qualiteDestinataire" type="text" >
    </div>
    <div class="ui-g-3 ui-md-3 label-required">Civilité </div>
    <div class="ui-g-9 ui-md-9">
      <p-dropdown formControlName="civilite" [options]="civilites" placeholder="..." optionLabel="label" [style]="{'width':'100%'}">
      </p-dropdown>
    </div>
    <div class="ui-g-3 ui-md-3 label-required">Nom</div>
    <div class="ui-g-9 ui-md-9">
      <input class="has-error" styleClass="ng-invalid"  pInputText formControlName="nom" type="text" >
    </div>
    <div class="ui-g-3 ui-md-3">Prénom </div>
    <div class="ui-g-9 ui-md-9">
      <input class="has-error" pInputText formControlName="prenom" type="text" >
    </div>
    <div class="ui-g-3 ui-md-3">N° de voie</div>
    <div class="ui-g-9 ui-md-9">
      <input class="has-error" pInputText formControlName="numeroVoie" type="text" >
    </div>
    <div class="ui-g-3 ui-md-3 label-required">Nom de Voie </div>
    <div class="ui-g-9 ui-md-9">
      <input class="has-error" styleClass="ng-invalid"  pInputText formControlName="nomVoie" type="text" >
    </div>
    <div class="ui-g-3 ui-md-3">Complément</div>
    <div class="ui-g-9 ui-md-9">
      <input class="has-error" pInputText formControlName="complement" type="text">
    </div>
    <div class="ui-g-3 ui-md-3 label-required">Code Postal </div>
    <div class="ui-g-9 ui-md-9">
      <input class="has-error" styleClass="ng-invalid"  pInputText formControlName="codePostal" type="text">
    </div>
    <div class="ui-g-3 ui-md-3 label-required">Commune</div>
    <div class="ui-g-9 ui-md-9">
      <input class="has-error" styleClass="ng-invalid"  pInputText formControlName="commune" type="text" >
    </div>
    <div class="ui-md-offset-9 ">
      <p-button
        label="Annuler"
        icon="fas fa-chevron-left"
        styleClass="ui-button-secondary"
        class="mr-2"
        (click)="annuler()">
      </p-button>
      <p-button icon="fas fa-save"
        styleClass="ui-button-primary m-2"
        label="Enregistrer"
        (click)="enregistrerAdresse()"
        [disabled]="adresseForm.invalid"></p-button>
    </div>
  </div>
</form>
