<form [formGroup]="dotationEffectuerTransfertForm">

  <p-panel header="Dotation à débiter" [toggleable]="true">

    <div class="ui-g ui-fluid">

      <!-- SousProgramme -->
      <div class="ui-g-3 ui-md-3">Sous Programme:</div>
      <div class="ui-g-9 ui-md-9 ">
        <p-dropdown [options]="ListDonneur" formControlName="selectionSousProgrammeDebiter" [filter]="true"
          placeholder="Choisissez un sous programme" optionLabel="description" [showClear]="true"
          [style]="{'width':'100%'}" (onChange)="majDtoFromFormulaireDebiter()"></p-dropdown>
      </div>
    </div>
    <div class="ui-g ui-fluid" *ngIf="hideDebiter==false">
      <div class="ui-g-3 ui-md-3">Dotation disponible: </div>
      <div class="ui-g-9 ui-md-9">
        <label>{{ dotationCollectiviteFongibiliteDtoDebiter.dotationDisponible | montantEuros}}</label>
      </div>
    </div>

  </p-panel>

  <br />

  <p-panel header="Dotation à créditer" [toggleable]="true">

    <div class="ui-g ui-fluid">

      <!-- SousProgramme -->
      <div class="ui-g-3 ui-md-3">Sous Programme:</div>
      <div class="ui-g-9 ui-md-9 ">
        <p-dropdown [options]="ListReceveur" formControlName="selectionSousProgrammeCrediter" [filter]="true"
          placeholder="Choisissez un sous programme" optionLabel="description" [showClear]="true"
          [style]="{'width':'100%'}" (onChange)="majDtoFromFormulaireCrediter()"></p-dropdown>
      </div>

        <div class="ui-g-3 ui-md-3" *ngIf="hideCrediter==false">Montant du transfert </div>
        <div class="ui-g-9 ui-md-9" *ngIf="hideCrediter==false">
          <input pInputText pKeyFilter="money" formControlName="montantTransfert" (keyup)="formatMontant($event.target.value)">
          <div class="mt-1">
            <p-message severity="error" text="Le montant doit être inférieur ou égal à la dotation disponible du sous-programme à débiter." *ngIf="this.montantNum > this.dotationCollectiviteFongibiliteDtoDebiter.dotationDisponible"></p-message>
          </div>
        </div>

        <div class="ui-g-3 ui-md-3" *ngIf="hideCrediter==false">Nouveau montant du sous-programme crédité </div>
        <div class="ui-g-9 ui-md-9" *ngIf="hideCrediter==false">
          <label>{{ getMontantTransfert() | montantEuros}}</label>
        </div>

      <!-- bouton enregistrer -->
      <div class="ui-g-12 ui-md-offset-10 ui-md-2">
        <p-button label="Transférer" title="Enregistrer" icon="fas fa-save" styleClass="ui-button" class="float-right" [disabled]="!isMontantInferieurADotationDisponibleDebiter()"
          (onClick)="ouvrirModal()"></p-button>
      </div>
  </div>

  </p-panel>

</form>

<p-dialog header="Attention !" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [contentStyle]="{'overflow':'visible'}"  [style]="{width: '600px'}">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <p>Une fois enregistré, le transfert est irréversible.</p>
        </div>
    </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix ui-g-6">
      <button pButton type="button" icon="pi pi-times"
                label="Annuler" (click)="fermerModal()"></button>
    </div>
      <div class="ui-dialog-buttonpane ui-helper-clearfix ui-g-6">
        <button pButton type="button" icon="fas fa-check"
                  label="Confirmer" (click)="effectuerTransfert()"></button>
      </div>
  </p-footer>
</p-dialog>
