th {
    background-color: #6c757d !important;
    color: white !important;
}
.col-dpt{
    width: 15%;
}
.col-sum{
    width: 10%;
}
.col-penalite{
    width: 25%;
}
.col-etat{
  width: 6%;
}
.col-action{
    width: 7%;
}

.float-right{
  float: right;
}
