<div class="p-grid">
  <div class="mb-4">
    <div class="ui-g-12 ui-md-12 ">
        <p-button class="mb-3 mr-2 float-right" styleClass="ui-button-primary ml-2" icon="fas fa-cog" (click)="generer()" title="Générer annexe" label="Générer"></p-button>
        <div *ngIf="hasntDotAnnuelle">
          <app-custom-file-transfer (uploadCallback)="ajoutFichierUploader('importDotationFile', $event)" accept=".csv" class="float-right"
          [affichageUpload]="true" mode="button-text" label="Importer" title="Afin de faciliter l'intégration des données des dotations de l'année en cours ou outil est fourni. Il permet de récupérer un export csv d'un tableau (Excel, libre office, …) suivant un formalisme bien défini :
                  •	Le jeu de caractère est celui par défaut : ISO
                  •	Le séparateur de champ et la ','">
          </app-custom-file-transfer>
        </div>
    </div>
  </div>
  <div class="table-responsive">
      <p-table [value]="dotationsDepartement" [lazy]="true" (onLazyLoad)="loadDotationsLazy($event)" [paginator]="true"
      [rows]="pageSize" [totalRecords]="nbTotalResultats" [responsive]="true">
      <ng-template pTemplate="header">
        <tr class="text-center">
          <th rowspan="2" class="col-dpt">Département</th>
          <th *ngFor="let ddpsp of (dotationsDepartement ? dotationsDepartement[0].listeDotationsDepartementalesParSousProgramme : [])"
              rowspan="2" pTooltip={{ddpsp.sousProgrammeDescription}}>
            {{ddpsp.sousProgrammeNumero}} - {{ddpsp.sousProgrammeAbreviation | uppercase}}</th>
          <th rowspan="2">Somme</th>
          <th colspan="2" class="col-penalite">Pénalités</th>
          <th rowspan="2"  class="col-etat">État</th>
          <th rowspan="2" class="col-action">Action</th>
        </tr>
        <tr class="text-center">
          <th>Non Regroupement</th>
          <th>Stock</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dotationsDepartement>
        <tr>
          <td>{{dotationsDepartement.codeDepartement}} {{dotationsDepartement.libelleDepartement}}</td>
          <td *ngFor="let ddpsp of dotationsDepartement.listeDotationsDepartementalesParSousProgramme" class="text-right">{{ddpsp.dspMontant | montantKeurosArrondi }}</td>
          <td class="text-right">{{ dotationsDepartement.sommeMontantsDotation | montantKeurosArrondi }}</td>
          <td class="text-right">{{dotationsDepartement.nonRegroupement | valeurPourcentage}}</td>
          <td class="text-right">{{dotationsDepartement.stock | valeurPourcentage}}</td>
          <td><i *ngIf="dotationsDepartement.enPreparation" class="fa fa-hourglass-half" aria-hidden="true" title="En préparation"></i>
            <i *ngIf="!dotationsDepartement.enPreparation" class="fa fa-check text-success" aria-hidden="true" title="Notifiée"></i>
          </td>
          <td style="text-align:center">
            <a routerLink="/dotation/{{dotationsDepartement.idDepartement}}/details">
              <p-button icon="fas fa-eye"></p-button>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
