<form [formGroup]="userform">
  <!-- aucune action lors de [Entrée] sur le formulaire -->
  <button pButton type="submit" style="display: none"></button>

  <!-- infos administratives de l'utilisateur -->
  <div class="ui-g ui-fluid">
    <!-- nom -->
    <div class="ui-g-2 ui-md-2 label-required">Nom</div>
    <div class="ui-g-10 ui-md-10">
      <input pInputText type="text" formControlName="nom" maxlength="100" required>
      <p-message severity="error" text="Le nom doit être renseigné"
        *ngIf="userform.controls['nom'].dirty && userform.controls['nom'].errors && userform.controls['nom'].errors.required">
      </p-message>
      <p-message severity="error" text="Le nom est trop court"
        *ngIf="userform.controls['nom'].dirty && userform.controls['nom'].errors && userform.controls['nom'].errors.minlength">
      </p-message>
    </div>

    <!-- prénom -->
    <div class="ui-g-2 ui-md-2 label-required">Prénom</div>
    <div class="ui-g-10 ui-md-10">
      <input pInputText type="text" formControlName="prenom" maxlength="100" required>
      <p-message severity="error" text="Le prénom doit être renseigné"
        *ngIf="userform.controls['prenom'].dirty && userform.controls['prenom'].errors && userform.controls['prenom'].errors.required">
      </p-message>
      <p-message severity="error" text="Le prénom est trop court"
        *ngIf="userform.controls['prenom'].dirty && userform.controls['prenom'].errors && userform.controls['prenom'].errors.minlength">
      </p-message>
    </div>

    <!-- téléphone -->
    <div class="ui-g-2 ui-md-2">Téléphone</div>
    <div class="ui-g-10 ui-md-10">
      <input pInputText type="text" formControlName="telephone" maxlength="30">
      <p-message severity="error" text="Le numéro de téléphone doit être renseigné"
        *ngIf="userform.controls['telephone'].dirty && userform.controls['telephone'].errors && userform.controls['telephone'].errors.required">
      </p-message>
    </div>

    <!-- e-mail -->
    <div class="ui-g-2 ui-md-2">Adresse e-mail : </div>
    <div class="ui-inputgroup">
      {{this.userform.get('email').value | lowercase}}
    </div>
  </div>
  <br /><br />

  <!-- droits de l'utilisateur -->
  <p-table [value]="listeDroits$ | async" *ngIf="isUniquementGenerique()">
    <ng-template pTemplate="header">
      <tr class="text-center">
        <th>Collectivité</th>
        <th>Etat</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-droits>
      <tr>
        <td>{{droits.collectivite}}</td>
        <td>{{droits.etat}}</td>
      </tr>
    </ng-template>
    <!-- message : aucun résultat -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="2">
          Aucune donnée disponible dans le tableau
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- enregistrer via [Entrée] -->
  <!-- <button pButton type="submit" style="display: none" [disabled]="!userform.valid" (click)="modifierUtilisateur()"></button> -->

  <!-- boutons annuler/enregistrer -->
  <div style="text-align: right;">
    <br /><br />
    <button pButton icon="fas fa-chevron-left" class="ui-button-secondary" label="Annuler" (click)="annuler()"></button>
    &nbsp;
    <button pButton type="submit" icon="fas fa-check" label="Enregistrer" [disabled]="!userform.valid"
      (click)="modifierUtilisateur()"></button>
  </div>
</form>
